[2017-09-21 04:19] causten opened #1 "not enough memory"
I tried the npm install command on a virtualbox ubuntu 16.04.  Memory was 10466MB.

[code]

How much memory do I need?

[2017-09-24 09:03] olegdovger commented on #1
I got the same error ((

[2017-09-30 00:14] causten opened #2 "web service not handling missing inventory"
After attempting to login in I get kicked back out to the login page.  I see lots of 200 calls but hit two 404s when attempting to collect inventory on a part that does not exist yet.  I believe the
`xyz/openbmc_project/inventory/system/chassis/motherboard/boxelder/bmc/ethernet`  does not exist until the system has booted.  Honestly that in itself seems like a bug since it is the inventory pat of

[2018-03-26 07:31] ThaiThu opened #3 "Webui stop at login"
Hi all, the webui is already built to my BMC and when I browse to its address, it stops at "Login required", like this:

![image](https://user-images.githubusercontent.com/14868732/37892497-9b79e4f4-310a-11e8-8abb-ea5c8fce861b.png)
 So, how can I login to BMC Webui ?

Thanks !!

[2018-03-30 19:03] gtmills commented on #3
What system are you using? It looks to me like the WebUI package is not installed in the image. The only systems I know that has the WebUI installed in the image are Witherspoon and x86 systems.
https://github.com/openbmc/openbmc/blob/master/meta-openbmc-machines/meta-openpower/meta-ibm/meta-witherspoon/recipes-phosphor/packagegroups/packagegroup-obmc-apps.bbappend#L3

https://github.com/openbmc/o

[2018-04-11 20:05] gtmills commented on #3
This is a duplicate of https://github.com/openbmc/openbmc/issues/3051. Closing this issue.

[2018-04-11 20:05] #3 closed

[2018-05-10 16:34] AlexanderAmelkin opened #4 "Power consumption is hard-coded to "000 W", must display actual data"
Currently, both "Power Consumption" and "Power Cap" fields in "Power information" section of the Server overview page are hard-coded to "000 W".

[2018-05-18 19:47] gtmills commented on #4
This is complete. https://github.com/openbmc/phosphor-webui/commit/3327583964a2b38bf2fd75f75d1d1f148f82f006 fixed this.

[2018-05-18 19:47] #4 closed

[2018-06-19 15:57] AlexanderAmelkin opened #5 "Event Filter does not filter on event type, only on content"
As can be seen in the attached screenshots, event filter only filters by event content, but not by event type:

![Filtering by type](https://user-images.githubusercontent.com/4518124/41608992-73a90290-73f2-11e8-8034-6b241c1087ce.png)
![Filtering by content](https://user-images.githubusercontent.com/4518124/41608993-73d3af72-73f2-11e8-8d7c-75b6b0b62206.png)

[2018-06-19 16:00] AlexanderAmelkin commented on #5
AFAIK, PSU events don't exist in upstream openbmc, but this issue applies to all event types, not just PSUs. Those screenshots are just for illustration, you can try any event that is available in your event log to reproduce this issue.

[2018-06-19 16:27] AlexanderAmelkin opened #6 "Inventory subtrees are treated as separate "hardware" items"
Some nodes under `/xyz/openbmc_project/inventory/system/chassis/` have subtrees.
For example, there are:
  * `/xyz/openbmc_project/inventory/system/chassis/bmc` and
  * `/xyz/openbmc_project/inventory/system/chassis/bmc/activation`

The latter one is a part of `bmc` information (a link to active software definition), but in WebUI it is displayed as a separate component under `Hardware` section:

!

[2018-06-21 15:21] AlexanderAmelkin opened #7 "Network settings must not list per-interface gateways"
As discussed in the following issues in other parts of openbmc project, on non-router systems there is no such concept as per-interface gateway:

https://github.com/openbmc/openbmc/issues/2671
https://github.com/openbmc/phosphor-networkd/issues/22

Hence, there is no need to have the associated fields in web-ui. They only confuse the users:

![webui-network-gateways](https://user-images.githubuser

[2018-06-26 11:44] AlexanderAmelkin commented on #7
Additionally, the `id`s of inputs for "Gateway" and for "Netmask prefix length" are confused in HTML.
The "Gateway" `input` has  `id="net-config__subnet"` whereas the "Netmask prefix..." `input` has `id="net-config__default-gateway"`.

[2018-06-28 18:53] gtmills commented on #5
https://github.com/openbmc/phosphor-webui/blob/d27bb135f1561b87a174d1b9890dde2f3cf01c80/app/common/directives/log-search-control.js#L32 is the code that does the search I believe

[2018-06-28 21:20] gtmills commented on #5
https://gerrit.openbmc-project.xyz/#/c/11347/ is the fix

[2018-06-29 10:03] AlexanderAmelkin commented on #5
Thanks. Will check it out.

[2018-07-09 14:53] #5 closed

[2018-07-18 12:02] AlexanderAmelkin commented on #6
I believe the problem here is much deeper than just phosphor-webui. The root cause is that a naturally tree-like structure is implemented in a naturally tree-friendly notation (JSON) as a plain list.
I believe that if phosphor-rest-server (or even phosphor-inventory-manager) presented the inventory as a tree, not as a plain list.

[2018-08-02 06:13] warp5tw opened #8 "Part of the remote screen content displayed via web sol is invisible"
Hi:

I use web sol in phosphor-webui to manipulate UEFI setting on a remote PC and find out that some content is invisible.

After configuring height attribute in serial-lan__terminal @ app/server-control/styles/remote-console.scss, the whole UEFI setting content is displayed.

The height value is modified from 400px to 600px.

Is it okay to make the iframe to cover the whole remote screen content

[2018-08-04 21:00] edtanous commented on #8
Assuming that the scss changes don't cause issues in the responsiveness of the design, or operating at different console resolutions, I don't see an issue with it, but I suspect that the UEFI system you're on is configured for a different resolution than the OpenPower systems the SOL console was originally designed for.  You will likely either need to make this resolution detected from the serial

[2018-08-06 09:13] warp5tw commented on #8
Hi edtanous:

Thank you for your feedback.

The UEFI system I use is not for OpenPower system.

May I know what library will support the detection from the serial console?

[2018-08-06 14:58] edtanous commented on #8
I don't know the full details on how it's done, but the system uses hterm for its termintal emulation.  It's been brought up before that xterm is likely a better choice, and supports more features, but no one has stepped up to do the work yet.

[2018-08-07 07:38] warp5tw commented on #8
Hi edtanous:

Thank you for your prompt feedback.

I'll check around and see what can be done for this case.

[2018-08-15 15:10] gtmills opened #9 "Fix scroll bar on SOL page"
![scroll_bar](https://user-images.githubusercontent.com/5455127/44155602-5cf3b3bc-a073-11e8-828d-5469a839ddf6.PNG)

The scroll bar needs fixed on the SOL page. We should look at moving from hterm to xterm.

[2018-08-15 15:26] gtmills commented on #2
This is fixed now. Closing. Remove the functions that call `/xyz/openbmc_project/inventory/system/chassis/motherboard/boxelder/bmc` and `/xyz/openbmc_project/inventory/system/chassis/motherboard/boxelder/bmc/ethernet` here:
https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/11965/. They were unused.

[2018-08-15 15:26] #2 closed

[2018-08-15 15:28] gtmills commented on #1
@causten I assume you got this to work? How much memory did you need? I have never seen this problem.

[2018-08-15 15:33] gtmills opened #10 "Remove AngularUtils"
AngularUtils is no longer maintained.
Move to a more standard pagination and remove AngularUtils.
https://github.com/openbmc/phosphor-webui/blob/10ed37600bc682cf448a1084d73d53accb16cb6d/app/server-health/controllers/log-controller.html#L73

https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination#dir-pagination-controls

[2018-08-20 19:20] gtmills opened #11 "Need a way to remove a DNS server"
Need a delete button for DNS servers.
![remove_dns](https://user-images.githubusercontent.com/5455127/44361675-3795c280-a484-11e8-8c46-b53dfd97bc4a.PNG)

[2018-08-20 20:20] gtmills opened #12 "Should be able to add and remove IPV4 addresses"
![add_remove_ipv4_addresses](https://user-images.githubusercontent.com/5455127/44364421-90695900-a48c-11e8-9d6d-c77db98d5677.PNG)
We only allow the user to modify existing IPV4 addresses

[2018-08-21 21:01] geissonator opened #13 "SOL console in webui stops outputting during petitboot"
[code]

Using latest chrome on my macbook.

Using the SOL console in the GUI, I see the hostboot isteps fine, then most of petitboot, then it suddenly just stops, here's the last of what I get.

[   69.352195504,5] PHB#0004:01:00.4 [EP  ] 10b5 87d0 R:ca C:088000 (system-peripheral)
[   69.352243104,5] PHB#0005:00:00.0 [ROOT] 1014 04c1 R:00 C:060400 B:01..01
[   69.352288786,5] PHB#0005:01:00.0 [EP

[2018-08-21 21:07] geissonator commented on #13
If I hit the refresh button quickly then I can catch petitboot, and it seems to capture my inputs fine, but it doesn't seem to process my command "exit" for some reason from the debug shell.  Same type of hang and refresh is needed.

[2018-09-05 21:06] alissaylee opened #14 "Redesign error instances for BMC network settings"
![network_error_states_before_saving](https://user-images.githubusercontent.com/42816433/45120301-4f777280-b123-11e8-9ec2-7a8ccbc60b53.jpg)
**Error instances BEFORE saving settings:**
- All error fields can be validated after 10 sec user finishes typing.
- Each error field is accommodated with an error message, error icon, and red border for text field.
- Error fields validated for character forma

[2018-09-05 21:07] alissaylee commented on #14
Public InVision link to BMC Network Settings: https://ibm.invisionapp.com/share/YSNTBXAJGUC#/318318937_Network_Assign_new_static_IP

[2018-09-05 21:15] alissaylee opened #15 "Implement additional capabilities that are missing from current GUI (e.g. add/remove IPV4 addresses, read-only view of addresses obtained from dhcp)"
https://ibm.invisionapp.com/share/YSNTBXAJGUC#/318318937_Network_Assign_new_static_IP
https://ibm.invisionapp.com/share/YSNTBXAJGUC#/318318936_Network_Assign_Existing_static_IP

**Initial setup of Static IP address:**
- IPV4 addresses may or may not be available in the GUI
- Add/remove IPV4 address
- Add/remove DNS server
- Test IP address connectivity for dns servers (before saving)
- Field valid

[2018-09-05 21:28] edtanous commented on #1
Can this be closed?

[2018-09-05 21:38] gtmills opened #16 "Have 9 High severity errors on the system but 'Server health' is 'Warning' not 'Error'"
![server_health](https://user-images.githubusercontent.com/5455127/45122620-f8c16700-b129-11e8-988c-5d8ad874c0b6.PNG)

[2018-09-05 21:39] gtmills commented on #16
Seems like anytime I have a "High Severity" Error, the Server health should be 'Error'.
![server_health_box](https://user-images.githubusercontent.com/5455127/45122706-3faf5c80-b12a-11e8-931b-7d1b7115d2c9.PNG)

[2018-09-05 21:41] gtmills commented on #16
Code that determines the value of server health: https://github.com/openbmc/phosphor-webui/blob/e364faa0314c8c98a31260bf69df78a104b106a1/app/common/services/dataService.js#L116

[2018-09-10 16:33] gtmills opened #17 "Wrong fields are highlighted on login error"
When the server is not reachable (e.g. bad server name) the BMC Host field and the username field are highlighted.
![server_unreachable](https://user-images.githubusercontent.com/5455127/45310879-24a76880-b4ed-11e8-8f1e-cca69e64690b.PNG)
When an incorrect password/username is entered again the BMC Host field and the username field are highlighted.
![invalid_username_password](https://user-images.g

[2018-09-10 16:35] gtmills commented on #17
On a "Server unreachable" error, I think the "BMC Host or BMC IP Address" field should be the only one highlighted. On "Invalid username or password" error, I think the "Username" and "Password" fields should be highlighted.

[2018-09-10 20:45] #16 closed

[2018-09-12 22:01] #17 closed

[2018-09-13 15:49] gtmills commented on #9
Fixed here: https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/12602/. Closing

[2018-09-13 15:49] #9 closed

[2018-09-13 15:50] gtmills commented on #8
@warp5tw Moving to xterm was merged. Are you still seeing this bug in the latest master?

[2018-09-13 20:45] BeccaBroek commented on #13
I'm seeing the websocket connection to console0 close consistently during boot on the SOL console page with error code 1006, causing the console to stop outputting messages.

On refresh, the websocket re opens and the SOL console begins outputting again, but will close again. Not sure what is causing the closure, the error code 1006 meaning "that a connection was closed abnormally"
https://develop

[2018-09-14 06:58] warp5tw commented on #8
I'll build the lastest master and update the result.

Thank you for the input.

[2018-09-17 14:44] gtmills commented on #12
@BeccaBroek We will over error handling in another issue. Thanks!

[2018-09-18 01:12] warp5tw commented on #8
I fetched the latest master of OpenBMC last Friday and the UEFI firmware version of Supermicro MBD-X9SCL-F-0 for verification is 2.15.1234.

The test case is to see the whole content of UEFI boot menu settings and the descriptions.

There is still some area (the line next to the last line) which is not visible and that's what I see so far.

[2018-09-18 21:18] #11 closed

[2018-09-21 13:46] BeccaBroek commented on #13
@geissonator , returned to looking at this yesterday and was unable to recreate it with latest master. Wondering if you want to confirm?

[2018-09-24 21:03] gtmills commented on #8
@warp5tw Can you upload a picture here of the problem? Having problems understanding exactly what the problem is. Thanks!

[2018-09-24 21:13] iftekharuli commented on #6
I agree @AlexanderAmelkin. The time I developed it, we wanted to simplify the data with a tree like hierarchy order to future poof any info that might come in different environments. But maybe it is time to rethink and re-test this solution to make it more useful to users. The design team is taking it into consideration :)

[2018-09-25 14:01] joseph-reynolds opened #18 "security: do not autocomplete username and password fields"
The web application should not autocomplete username and password fields.  It may apply to other fields.  See https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion

[2018-09-25 14:43] BeccaBroek commented on #8
https://xtermjs.org/docs/api/addons/fit/

@warp5tw The terminal will add columns and rows based on the size of its parent container,  so I don't think you would run into a resolution problem by resizing the height of the console to 600px if this is resolving the issue for you.

Are you having a difficult time overriding the size of the terminal with the xterm code as you did with hterm? I would be

[2018-09-25 15:10] gtmills commented on #18
@joseph-reynolds Why is having autocomplete fields a security concern?

[2018-09-25 15:20] edtanous commented on #18
Because security scanners list it as a medium priority issue, and someone could use it to compromise a bmc with a password saved on a compromised computer.  It's been on my list of things to fix for a while now.

[2018-09-25 15:34] joseph-reynolds commented on #18
The username+password grants privileged access to resources, so they must be protected.  Generally speaking, for higher security applications, you should not store the username or password for any longer than is needed.  So there should be a way to instruct the browser to not store them as autocomplete data.

[2018-09-25 18:01] #18 closed

[2018-09-25 19:30] BeccaBroek commented on #8
https://github.com/openbmc/phosphor-webui/blob/3d0a4d96d8f02208e0fb6ad7bfb2d20a6753c5e7/app/server-control/styles/remote-console.scss#L45

You should now be able to change the height of the terminal by updating #terminal height.

[2018-09-27 13:57] gtmills opened #19 "GUI : Host time is not getting set via GUI with NTP mode and SPLIT as time owner"
Our test team reported this:
Host time is not getting set via GUI with SPLIT as time owner and NTP mode. This issue is specific to GUI as via REST we are not seeing the problem.

Step to recreate
1. Set BMC as owner and NTP as mode from GUI.
2. After setting, we will see that both Host and BMC time is set to NTP server time(0.asia.pool.ntp.org).
3. Now select NTP mode and SPLIT as time owner in GU

[2018-09-27 14:53] gtmills opened #20 "GUI : Host time is not getting set via GUI with manual mode and HOST as time owner"
Our test team reported this problem.
Host time is not getting set via GUI with manual mode and HOST as time owner.  With REST commands, we are not hitting this problem and so this is specific to GUI.

Step to recreate
1. Set BMC as owner and NTP as mode from GUI.
2. After setting, we will see that both Host and BMC time is set to NTP server time(0.asia.pool.ntp.org).
3. Now select manual mode and

[2018-10-04 13:07] joseph-reynolds commented on #18
This fix looks good. The scanner is still complaining about a form with class="user-manage__form" which has fields for changing passwords.  We ought to apply the fix to those fields as well.

[2018-10-04 15:28] BeccaBroek commented on #10
The only more standard way to paginate without writing our own pagination directive, I think, would be https://angular-ui.github.io/bootstrap/ and this is also no longer maintained. There are projects that are maintained which can be used for pagination, but they all seem to require Angular 2+ and currently we are using 1.7. I don't think it would be worth the effort to create our own, as it would

[2018-10-08 18:15] gtmills opened #21 "Event log: Date formats on event log page should match"
![event_page](https://user-images.githubusercontent.com/5455127/46626164-1c4a4980-cafc-11e8-8195-4cb747d7539c.PNG)

[2018-10-08 18:23] gtmills commented on #21
Overview page would also have the same problem

[2018-10-08 18:31] gtmills opened #22 "Change text color of "Functional firmware version""
Blue is used to imply clickable links..
![functional_firmware_version](https://user-images.githubusercontent.com/5455127/46626821-1b1a1c00-cafe-11e8-92f7-a9a983d603dc.PNG)
The IBM design team made this recommendation:

Visual treatment of the “Functional firmware version” implies a
clickable state when in actuality it is not. This is in opposition to the
same blue color treatment used in the UI as

[2018-10-08 18:45] gtmills opened #23 "Firmware page: Move the "more info" icon"
![firmware_more_icon](https://user-images.githubusercontent.com/5455127/46627528-53225e80-cb00-11e8-9bae-82eb908400e7.PNG)

The IBM design team made the following recommendation:
Location of “more info” icon appears irrelevant to the version level.
• Recommendation: Icon is placed 20px to the right of the version level.

[2018-10-09 00:42] #19 closed

[2018-10-09 00:42] #20 closed

[2018-10-09 02:19] #12 closed

[2018-10-10 20:50] BeccaBroek commented on #22
<img width="1114" alt="screen shot 2018-10-10 at 3 50 10 pm" src="https://user-images.githubusercontent.com/26717697/46765283-39218100-cca4-11e8-8e7a-ade6b84debb1.png">
With change, will look like this

[2018-10-11 16:14] #22 closed

[2018-10-12 19:10] ryanarnell opened #24 "Hover and selected states need to look different"
“Server Health” tab should not be highlighted when page is currently on “Server Overview”. This is disorienting to user.

![screen shot 2018-10-12 at 2 09 25 pm](https://user-images.githubusercontent.com/4976631/46889191-744cbd00-ce28-11e8-91b0-9abe6a5ff002.png)

**Default state:** Dark blue background #1B2834, light grey for icon and text #E0E0E0
**Selected state:** White background #FFFFFF, Dark

[2018-10-12 19:19] ryanarnell opened #25 "First letter for every bolded blue text action is to be UPPERCASE."
1) Textual actions are visually inconsistent. One action starts with a lowercase, while the other is uppercase.
2) Blue colored text should be consistently used as a call-to-action. Recommendation: First letter for every bolded blue text action is to be UPPERCASE.

![screen shot 2018-10-12 at 2 19 10 pm](https://user-images.githubusercontent.com/4976631/46889595-cf32e400-ce29-11e8-9272-ff74644fa6a

[2018-10-12 19:28] ryanarnell opened #26 "Make actions visible in a disabled state"
**In event log page**

Main actions should be made available via table header by default (currently it is hidden until checkbox is selected). Recommendation:

![screen shot 2018-10-12 at 2 27 10 pm](https://user-images.githubusercontent.com/4976631/46889958-f0e09b00-ce2a-11e8-86c2-f1a3e8dd2faa.png)

 Make actions visible in a disabled state so users understand features are associated with the tabl

[2018-10-12 19:32] ryanarnell opened #27 "Help users recognize, diagnose, and recover from errors"
**In event log and summary page**

Prioritize event logs by 1) severity level and then by   2) timestamp (top to bottom).

![screen shot 2018-10-12 at 2 31 13 pm](https://user-images.githubusercontent.com/4976631/46890151-811ee000-ce2b-11e8-8f7e-49e04e8eb661.png)

![screen shot 2018-10-12 at 2 32 05 pm](https://user-images.githubusercontent.com/4976631/46890192-9d228180-ce2b-11e8-88bc-13737f02c523

[2018-10-12 19:40] ryanarnell opened #28 "Fixed table header"
Unable to understand context for all the temperature values when scrolling down the table.

This pattern would apply to other pages that include tables.

![screen shot 2018-10-12 at 2 39 55 pm](https://user-images.githubusercontent.com/4976631/46890511-b4ae3a00-ce2c-11e8-986d-40b8a284dd45.png)

 Recommendation: Table header stays fixed while user scrolls through table rows. Filter field and severi

[2018-10-12 19:46] ryanarnell opened #29 "Present number of sensors available"
Unable to view the total number of available sensors. Viewing a value becomes important because it reinforces the number of results shown in the table when user chooses to filter.

This pattern is currently being used in the Events page-

![screen shot 2018-10-12 at 2 45 14 pm](https://user-images.githubusercontent.com/4976631/46890796-89781a80-ce2d-11e8-879a-8950c9e61a05.png)

Recommendation: Pre

[2018-10-12 19:48] ryanarnell opened #30 "Add column sorting capability"
Unable to sort or order numerical values based on user preference.

![screen shot 2018-10-12 at 2 47 43 pm](https://user-images.githubusercontent.com/4976631/46890887-cc39f280-ce2d-11e8-8d60-accbec3b043e.png)

Recommendation: Add column sorting capability on for all table header titles. Default sort = 1) priority of critical items (critical > warning > normal) and then 2) alphabetical order of sen

[2018-10-12 19:54] ryanarnell opened #31 "Keep confirmation experience consistent"
1) Warning statement is not aligned with the action buttons, and does
2) Hover state color for buttons breaks accessibility standards.

![screen shot 2018-10-12 at 2 51 36 pm](https://user-images.githubusercontent.com/4976631/46891064-5aae7400-ce2e-11e8-9bc9-7bf51a29f386.png)

Keep confirmation experience consistent (like Firmware and Network settings pages) by having a modal pop up warning user a

[2018-10-12 20:06] ryanarnell opened #32 "Fix issue with More info Dialog button not disappearing"
In firmware update page-
More info” dialog does not disappear until deselected.

Recommendation: Dialog disappears upon user selecting another item or area on the page.

![screen shot 2018-10-12 at 3 05 45 pm](https://user-images.githubusercontent.com/4976631/46891715-6e5ada00-ce30-11e8-9997-56c231bb33ba.png)

[2018-10-12 20:13] ryanarnell opened #33 "Consistency and standards for In-memory firmware version"
Visual treatment of the “In-memory firmware version” implies a clickable state when in actuality it is not. This is in opposition to the same blue color treatment used in the UI as a call to action.

![screen shot 2018-10-12 at 3 13 27 pm](https://user-images.githubusercontent.com/4976631/46891974-6485a680-ce31-11e8-967d-e3a507e6a1bc.png)

Keep language consistent by referring to statement as “Fun

[2018-10-12 20:26] ryanarnell opened #34 "Firmware: Move upload/download to top and have radio button"
Layout of content is unclear that user can choose between two options to upload or download image files

![screen shot 2018-10-12 at 3 26 08 pm](https://user-images.githubusercontent.com/4976631/46892480-2be6cc80-ce33-11e8-8638-5ba32ccb4210.png)

Recommendation: Include the text “Or” between the two sections so user understands both are viable options (and not sequential inputs which is what it cu

[2018-10-12 20:39] ryanarnell opened #35 "Modal background should have dark, transparent overlay"
Inconsistency in visualization of the modal — not dynamic to the screen, and grey layout occurs in one instance.

![screen shot 2018-10-12 at 3 38 58 pm](https://user-images.githubusercontent.com/4976631/46892984-f511b600-ce34-11e8-9ac4-aaad5fd3aa69.png)

Recommendation: Modal background should have dark, transparent overlay, and be centered in relationship to size of window.

[2018-10-12 21:44] gtmills commented on #34
@ryanarnell I thought @alissaylee had a decision where upload/download were a radio button? So only one would be visible.

[2018-10-12 21:48] gtmills commented on #33
@ryanarnell I changed the text a few weeks ago and @BeccaBroek changed the color here already: https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/13945/. Closing.

[2018-10-12 21:48] #33 closed

[2018-10-16 15:44] BeccaBroek commented on #21
We've discussed and I will implement so that the formats are consistent with the exception that the event logs will display the timezone following. There will be no change to the format at the top of the page.
(Oct 10, 2018 12:19:23 PM EDT)

[2018-10-16 15:48] BeccaBroek opened #36 "User should be able to display error log events in UTC and user timezone."
Currently the event log page allows user to display events' timestamps in UTC or 'user timezone,' but that time zone is always ETC. This was originally intended to present itself in the user's timezone and needs to be fixed.
<img width="797" alt="screen shot 2018-10-16 at 10 47 41 am" src="https://user-images.githubusercontent.com/26717697/47029359-f4c53380-d130-11e8-94b3-85e9419c3299.png">

[2018-10-16 21:14] ryanarnell commented on #24
Considering the second level navigation,  Alissa and I came up with this new color scheme.
The hover state is white while selected state is grey.

![screen shot 2018-10-16 at 4 12 11 pm](https://user-images.githubusercontent.com/4976631/47047884-7f705780-d15e-11e8-8546-b81a63787097.png)

[2018-10-18 14:09] #25 closed

[2018-10-19 20:01] gtmills commented on #24
@ryanarnell @alissaylee I think the main and 2nd level navigation, should have the same hover color.

[2018-10-22 21:34] alissaylee commented on #24
Let's have the hover states for main and secondary nav white, and the page that’s selected (i.e. Event log) can have the text be in bold with the > button visible.

[2018-10-23 14:12] gtmills commented on #24
This was completed here: https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/14275/

[2018-10-23 14:12] #24 closed

[2018-10-23 18:22] ryanarnell commented on #24
This issue is resolved by this push - https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/14275/

[2018-10-29 21:57] #21 closed

[2018-10-30 21:02] susantjasinski opened #37 "SNMP - Server Management"
[SNMP Settings prototype](https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/318996535_1-_SNMP_Empty)

System Admins need to manage the connection to the SNMP server/s -- add, edit, remove, test connection.
* **Add manager button**: adds another set of fields for SNMP server (both manager server and port)
* **Manager Host Name or IP Address field**:  Format/syntax is validated while typing, connection

[2018-10-30 21:20] susantjasinski opened #38 "LDAP Role Groups "
[LDAP Settings - InVision Mockups for testing 11-2018](https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/318942522_LDAP_Save_Settings_Successful)

System Admins need to add and remove Role Groups of users (as defined by the LDAP server) who can access the BMC through the LDAP server, and modify their privileges.
* Only users with **Admin** privileges can view this panel
* **Add role group button**: a

[2018-10-30 21:25] susantjasinski opened #39 "LDAP Server Configuration"
[LDAP Settings - InVision Mockups for testing 11-2018](https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/318942513_LDAP_Disabled)

System Admins need to manage the communication configuration for authentication between the BMC and LDAP servers.
* Only users with **Admin** privileges can view this panel
* **Disable LDAP authentication checkbox**: when enabled, stops communication for authenticated bet

[2018-11-05 16:07] BeccaBroek commented on #23
<img width="1169" alt="screen shot 2018-11-05 at 9 51 07 am" src="https://user-images.githubusercontent.com/26717697/48010089-885fa380-e0e2-11e8-8240-ba285aa5dcbe.png">

[2018-11-06 15:31] susantjasinski opened #40 "Virtual Media"
[add link to Virtual Media - InVision Mockups here]

[add details about final design here]

Contributors: Jandra Aranguren (IBM UX Design), Gunnar Mills (IBM Front-End Dev), Adriana Koblyak (IBM Engineering)

[2018-11-06 15:35] susantjasinski commented on #40
Per Jeremy...
- In general, the Nuvoton mockup is good but needs some changes
- The GUI makes a call to endpoint /VirtualMedia via a websocket, similar to the host console page. This returns the virtual media devices in JSON format, <id>:<description>, example for a single device:
```{ "0": { "description": "Witherspoon Virtual media device" } }```
The GUI would use this data to populate a set of

[2018-11-06 15:48] gtmills commented on #37
New tab I assume under configuration, "SNMP settings".

[2018-11-06 15:48] gtmills commented on #37
https://github.com/openbmc/phosphor-snmp/blob/master/docs/snmp-configuration.md

[2018-11-06 16:48] #36 closed

[2018-11-07 16:25] gtmills opened #41 "Move Style Guide to permanent location"
Style Guide is here:
https://ibm.invisionapp.com/share/EBNYECMH3Y2#/screens

[2018-11-07 16:44] #23 closed

[2018-11-12 17:16] gtmills commented on #41
Move to docs/ repo or keep in phosphor-webui?

[2018-11-12 18:02] edtanous commented on #41
I vote docs repo, for a couple reasons.

1. it gets better visibility for both readership and reviews than the webui repo
2. It's under creative commons licence, which is a better fit for documentation like this.

We could bifurcate the license of the webui repo,  which would solve #2, but I still think that the docs repo is the best choice.

[2018-11-13 22:00] susantjasinski commented on #41
The purpose of the guide is not to replace the bootstrap library. Instead, this guide will help front-end designers and developers provide consistent patterns, behaviors, and interactions such as colors, form and validation behaviors, accessibility interactions, terminology, animations, etc.

Today, the style guide is shared as a series of flattened images (png). And the source files are not easil

[2018-11-15 12:05] nest1ing opened #42 "overview does not work properly"
After the commit 569ccf66e58aacd50eaf53518c50c0ad4d448333 the `overview` page looks like this:
![default](https://user-images.githubusercontent.com/5609593/48551180-da27db00-e8e5-11e8-9f9e-8f9a4d693cf5.png)

As I find out, it happens because  in my case the value of `Date().toString()`   contains national characters in the time zone.
[code]

The events log page have the same behavior.

[2018-11-15 13:29] nest1ing commented on #42
Maybe would better use `toUTCString()` / `toLocaleString()` instead parse the output of `toString()` to get the name of time zone?
In my case it looks like this:
[code]

But I am not sure how it may be implemented in the template parser.
The template looks like this:
[code]

[2018-11-15 20:55] jandraa opened #43 "GUI: SSL Certificate management page"
A user can manage their certificates (CA certificates, client certificates, and server certificates). Users should be able to see the uploaded file (and upload a new one if wanted), the start date, and expiration date.

[2018-11-16 08:55] nest1ing commented on #42
Fix me if I wrong, but I believe that this code, even if it successfully parsed string, will give the time zone of the browser instead of the `BMC`:
[code]
same for the `host`:
[code]

[2018-11-16 17:09] #29 closed

[2018-11-16 17:40] gtmills commented on #26
With https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/15850/7/,
I see:
<img width="559" alt="capture_eventlogs" src="https://user-images.githubusercontent.com/5455127/48637738-3cd7b000-e994-11e8-88c0-372b9a73e171.PNG">
Seems inconstant, "Mark as resolved" is readonly but Delete and export are not.

[2018-11-16 17:58] gtmills commented on #42
Cherry picked https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/15894/2/
Without 15894/2/ :
<img width="197" alt="before_15894" src="https://user-images.githubusercontent.com/5455127/48638623-c7211380-e996-11e8-9b45-53b18970835d.PNG">
<img width="560" alt="before_15894-2" src="https://user-images.githubusercontent.com/5455127/48638625-c8524080-e996-11e8-9d99-2231a2c9b5b1.PNG">
With 1

[2018-11-17 13:52] nest1ing commented on #42
I've fixed it.

And @gtmills, @BeccaBroek: I want to get your attention to the my previous question.
As I understood, in this case we want to use the time zone of the user's browser.
I specially leave both of these methods (see [app/configuration/controllers/date-time-controller.js](https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/15894/3/app/configuration/controllers/date-time-contro

[2018-11-19 15:18] gtmills commented on #43
Need a new page for uploading an SSL Certificate

[2018-11-19 16:40] jandraa commented on #40
InVision mockups: https://ibm.invisionapp.com/share/7FNYCEZHU6B#/318927700_Virtual_Media_-_1_Empty_State

System Admins need to start a Virtual Media session by selecting a file from the appropriate device and, once the file has been 'uploaded', start the session.

Details about design:
There is one component for each device and each component is made up of:
- **Description** : Provided from the j

[2018-11-19 17:45] jandraa commented on #43
_From Alissa:_

Work in progress...
https://ibm.invisionapp.com/share/7FNYCEZHU6B#/318902299_SSL_Certification
SSL certificate upload management page

Support/upload file types...
More than one CA file (work in progress)
Single server certificate file
Choose and upload file(s)
Remove loaded file
See if file(s) successfully uploaded
Remove existing file(s)
CA - signed certificate only, server + cli

[2018-11-20 13:39] AlexanderAmelkin commented on #42
Speaking of formats I would go with YYYY/MM/DD for date, a standard timezone abbreviation (e.g. PST, CST, MSK, GMT, etc.) that every admin around the world is used to, and the time in locale-specific format (e.g. "11:59 PM" or "23:59").

Indeed, everybody always gets confused over mm/dd and dd/mm in formats with trailing yyyy, but there is just a single format with year first, and that is YYYY/MM/

[2018-11-20 13:56] nest1ing commented on #42
It is the reason of the opening this issue.
The browser with Russian locale give `Thu Nov 15 2018 14:54:55 GMT+0300 (Москва, стандартное время)` instead the awaited `Thu Nov 15 2018 14:54:55 GMT+0300 (MSK)`. And I was unable to find any methods to get `MSK` without external dependencies.

[2018-11-20 18:03] ryanarnell opened #44 "Event log: update screens where there are no event logs available"
When there is no event log available these 3 changes need to be made in the current design-
1. The checkbox in table header should be disabled
2. The action buttons will be in disable state
3. A message should display in the content area saying "There are no event logs". We are determining the actual verbiage of the message.

Here is a screenshot

<img width="898" alt="screen shot 2018-11-20 at 11

[2018-11-20 18:16] ryanarnell commented on #26
Looks like we did not think about the empty scenario where there is no event log available.  A new issue is created with possible solution here https://github.com/openbmc/phosphor-webui/issues/44

[2018-11-21 15:07] AlexanderAmelkin commented on #42
It appears that timezone support is crippled in ECMAscript and differs from browser to browser.
The only compatible method I could find is using [moment-timezone.js](http://momentjs.com/timezone/).
This code gives me 'MSK' in any browser using any browser l18n and with any system locale, provided that my computer is indeed in MSK timezone:

[code]
I guess we could add momentjs to phosphor-webui. I

[2018-11-21 16:11] edtanous commented on #41
The idea of github pages is interesting, but unless you're planning on moving all the existing documentation to that style (which I would fully support) we're bifurcating the documentation, which I really don't think helps us in the long run.  If you need to check in some documentation as HTML, so you can apply appropriate styles to it, that seems workable, as we can still make all the linking bet

[2018-11-21 17:34] BeccaBroek commented on #42
I also was looking into moment-timezone.js at one point because it would make managing date/time across browsers a lot more simple, but thought I had come up with a solution that avoided the extra 76KB (but clearly my commit is breaking these pages in certain timezones). I do have a branch locally from when I was working on this in which I had brought in moment-timezone that I could push up for re

[2018-11-21 20:41] BeccaBroek commented on #28
<img width="1275" alt="screen shot 2018-11-21 at 2 40 03 pm" src="https://user-images.githubusercontent.com/26717697/48867324-71d07200-ed9b-11e8-93c1-97aacb09b4bc.png">

Seeings some off spacing the spacing off for the word Sensors when I cherry picked

[2018-11-26 19:29] ryanarnell opened #45 "Make actions visible in a disabled state"

[2018-11-26 19:50] gtmills commented on #45
Duplicate of https://github.com/openbmc/phosphor-webui/issues/26

[2018-11-26 19:50] #45 closed

[2018-11-26 20:01] jandraa commented on #43
- [ ] Verify all three certificate types are designed; add to necessary panels
- [ ] Conduct user research to determine where in the navigation SSL certificates should live
- [ ] Conduct user research to determine where client certificates should live (LDAP vs. SSL certification)
- [ ] Update upload component so it can scale to multi-file upload scenarios
- [ ] Consider where and how users should

[2018-11-26 21:04] gtmills commented on #42
@AlexanderAmelkin Where does this 76KB  for momentjs come from? Is this 76KB compressed ?

[2018-11-26 21:22] gtmills commented on #42
I would prefer not bringing in momentjs  but if it is needed, I understand.

[2018-11-27 10:18] nest1ing commented on #42
Yes, it was first what I tried.
But it gives the name of the time zone in Russian and it looks strange.

[2018-11-27 10:59] AlexanderAmelkin commented on #42
@edtanous, yes it's 76k compressed when bundled "with data" and "with locales" as in my example above. The code itself is quite small.

Fixing regexp doesn't work because it will capture "Москва, стандартное время" instead of "MSK"  if Firefox has Russian localization installed. The only solution I was able to find that would always give "MSK" (not "Europe/Moscow", not "Москва, стандартное время",

[2018-11-27 21:51] ryanarnell commented on #30
We are going to look back to this based on more user research

[2018-11-28 08:02] susantjasinski commented on #39
Does the design/layout make sense to you?
Are the elements on the screen correct?
Is anything missing? If yes, then why is it needed?

[2018-11-28 08:09] susantjasinski opened #46 "Date and Time"

[2018-11-28 08:55] sivassrr commented on #39
How about displaying LDAP User uid and group id. Because system admin should know the local user uid and its group id as well. Otherwise it will clash, right.  Basically want to see the LDAP user details info.

[2018-11-28 14:29] gtmills commented on #46
https://github.com/openbmc/phosphor-time-manager

[2018-11-29 00:12] joseph-reynolds commented on #37
The description reads "System Admins need to ... test [the] connection [to the SNMP server]".
Later, it states, the "input field ...will inform when there is a connection problem."

However, the "Test" button description merely validates if the "Host Name" field has correct syntax.  And I found no interface to test the connection.  I would have thought the HostName field would validate itself by t

[2018-11-29 14:36] nest1ing commented on #42
In my opinion, we may accept that the browser doesn't know the abbreviation of the Moscow time zone and it will be shown as `GMT+3`:
![default](https://user-images.githubusercontent.com/5609593/49228829-3c600000-f3fd-11e8-9940-1fab7d706f76.png)

But there still is one strange thing: at data/time settings page it looks like this:
![default](https://user-images.githubusercontent.com/5609593/49228678

[2018-11-29 15:37] nest1ing commented on #42
I guess you tried non minified versions and/or compression with default level.
I download it, then run `gzip -9` and now it looks like this:
[code]

[2018-11-29 16:29] joseph-reynolds commented on #38
The mockups shows Role Group Group Name "RG1" and privileges (Admin, Operator, User, None).  Can you clarify in this issue/review that RG1 is defined by the LDAP server, and the privileges are defined by the BMC?
Similarly, where in OpenBMC does it say what this mapping means?  My understand is that after the association is made, when I log in as userid X, the BMC authenticates with the LDAP serve

[2018-11-29 16:34] edtanous commented on #38
https://github.com/openbmc/docs/blob/master/user_management.md

[2018-11-29 17:22] ryanarnell commented on #28
![screen shot 2018-11-29 at 10 57 03 am](https://user-images.githubusercontent.com/4976631/49239701-043eca00-f3c9-11e8-856c-85e2fc2d9ff8.png)

[2018-11-29 23:07] joseph-reynolds commented on #46
Just curious, for the "Test" button: how is the connectivity test performed?

[2018-11-29 23:15] joseph-reynolds commented on #46
The Time Zone field ("displays the default browser timezone by default, and is not editable") is mislabeled and is misleading.  It should be labeled similar to: "your browser's time zone" and should not be on the same line as the BMC or Server's date+time.
Can the web page show the BMC's default time zone (`date +%z` or `date +%Z`)?

[2018-11-30 02:56] gtmills commented on #42
@nest1ing That seems more reasonable for a size.

[2018-11-30 12:18] vishwabmc commented on #46
@susantjasinski Thank you for putting together the explanation and the ux review.. I left some of my comments there.

-

[2018-11-30 12:38] AlexanderAmelkin commented on #42
@gtmills, good. Then let's do it.
Let's draw the bottom line:

1. Import minified momentjs without locales support as we only need it for en-based timezone abbreviations
2. Import minified moment-timezone with data 2012-2022
3. Change dates format to: '<YYYY/MM/DD> <locale-based time format> <en-locale-based timezone abbreviation>', e.g. `2018/11/30 15:27 MSK` or `2018/11/30 6:27 AM CST`.

As I sa

[2018-11-30 23:07] gtmills commented on #42
The IBM design team is not a fan of `YYYY/MM/DD`. One comment was "spelling out the month is helpful and how it's done on a lot of modern UIs". @susantjasinski Can weigh in more here.
It appears the [angularjs date filter](https://docs.angularjs.org/api/ng/filter/date) does not work as it should. Sorry for leading us down that path. I see PM posted in the [example above](https://user-images.github

[2018-12-01 13:16] susantjasinski opened #47 "Log In notifications"
[Log In Notifications - InVision Mockups](https://ibm.invisionapp.com/share/B9NYI6RMDJQ#/318935058_Login_Default)

System Admins should be able to understand issues that occur while attempting to log into the BMC web ui.

[2018-12-01 14:03] susantjasinski opened #48 "User Account Management and notifications"
[Management User Accounts - InVision Mockups](https://ibm.invisionapp.com/share/B9NYI6RMDJQ#/318975108_1_Users_Empty)

System Admin should be able to manage the users that can locally access the host/BMC in a way that is consistent with the rest of the GUI.

[2018-12-01 16:38] susantjasinski commented on #37
@joseph-reynolds The format/syntax of the "Manager Host Name or IP Address" field will be validated while typing.  The connection will be tested when the Test button is clicked.

Remember, you are reviewing the future "ideal" design. The ability to perform these functions might not exist yet.

[2018-12-01 16:47] susantjasinski commented on #38
Thank you @joseph-reynolds I updated the description to include your comments about Group Name and Group Privileges. @edtanous, I also put your doc link about User Management in the description so it doesn't get lost in this comment string.

[2018-12-01 17:10] susantjasinski commented on #46
Notes left in the InVision mockups:
* How is the Data Last Refreshed content provided?
* Change panel title to "Set date and time manually or configure network time synchronization" to be more accurate (and therefore the NTP Server radio button label needs to be changed to "Network Time Synchronization ( NTP )"
* What will happen when "Different for BMC and Server" radio button is selected?. We ha

[2018-12-01 19:02] gtmills commented on #47
Why would we display a message that says "Note: LDAP is enabled, and local accounts are disabled?"

[2018-12-02 19:46] edtanous commented on #42
All of the compression information above has been presented so far are based on either grabbing the pre-minified versions of the library, or gzipping things manually.  Given that we already have infrastructure to minify and gzip as part of the build process, I would like to see numbers from the current build process (preferably in the form of a patch submitted to gerrit) before we pass judgement o

[2018-12-03 14:43] nest1ing commented on #42
@edtanous: You are right, when `momentjs` was installed by the `npm install` command it increased used space for around 75K, and I agree - it is too many.

[2018-12-03 14:54] AlexanderAmelkin commented on #42
@BeccaBroek, can you check how much space does momentjs occupy for you in the final image being brought in without pre-minification as @edtanous suggested. Our quick check gave us 75k which is very strange provided we got just about 25k from the pre-minified and manually compressed versions.

[2018-12-03 15:40] ryanarnell commented on #27
After user testing, we decided to keep the prioritizing by severity level. Thanks @gtmills  for bringing it up.

[2018-12-03 16:33] gtmills commented on #27
Closing then. Thanks @ryanarnell

[2018-12-03 16:33] #27 closed

[2018-12-03 17:57] gtmills commented on #42
I had a few comments on https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/15894/ but why not go with that patch instead of adding momentjs ?

[2018-12-03 18:39] gtmills commented on #26
Tested out patch set 10 of https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/15850/:
![patchset15850-10](https://user-images.githubusercontent.com/5455127/49393987-6284e900-f6f8-11e8-9b36-a68d48ce5010.PNG)
Formatting looks off on the table?

[2018-12-03 19:54] ryanarnell commented on #26
The table had issues prior to this push. The way it is constructed with div elements, it will not response to wide range of data format. Here is a screenshot of **current** build.  (Not this code push but currently what is existing now )

![ss](https://user-images.githubusercontent.com/4976631/49398081-efcd3b00-f702-11e8-8816-172ffe37c7d0.jpg)

[2018-12-03 21:57] BeccaBroek commented on #10
See
https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/16421/

[2018-12-04 07:17] warp5tw commented on #38
So far the group roles and privilege roles definitions follow [https://github.com/openbmc/docs/blob/master/user_management.md](https://github.com/openbmc/docs/blob/master/user_management.md).

As the user_management.md describes, the group roles are used to determine at a high level whether the user is authorized to the required interface.

Maybe the group definition could be treated in different

[2018-12-04 15:39] #10 closed

[2018-12-04 20:37] susantjasinski opened #49 "Interactive Style Guide"

[2018-12-04 20:49] #49 closed

[2018-12-04 21:05] susantjasinski opened #50 "Network: updates"
Implement additional capabilities that are missing from current GUI (e.g. add/remove IPV4 addresses, read-only view of addresses obtained from DHCP)

https://ibm.invisionapp.com/share/YSNTBXAJGUC#/318318937_Network_Assign_new_static_IP
https://ibm.invisionapp.com/share/YSNTBXAJGUC#/318318936_Network_Assign_Existing_static_IP

**Initial setup of Static IP address:**
* IPV4 addresses may or may not

[2018-12-04 21:07] susantjasinski commented on #14
@edtanous Yes, we are looking at the whole GUI and looking for validation and notification improvements

[2018-12-04 21:09] #50 closed

[2018-12-05 02:05] warp5tw commented on #38
Hi Susan:

May I know where I could retrieve webui page resources represented in [LDAP Settings - InVision Mockups for testing 11-2018](https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/screens/318942522_LDAP_Save_Settings_Successful)?

Thank you.

Regards,
Tyrone

[2018-12-05 15:02] gkeishin opened #51 "GUI power operation pop up is off the visual range"
In latest public master build, the Power operation pop up is really off than usual

![image](https://user-images.githubusercontent.com/19584499/49522105-df68bc00-f8cc-11e8-9edb-d8f3a8fa36b6.png)

[2018-12-05 23:09] susantjasinski commented on #38
@warp5tw I am not sure what you mean by "resources represented in LDAP Settings". Can you be more specific about what you need?

[2018-12-06 01:07] warp5tw commented on #38
Hi Susan:

Where could I download these web pages that show  [LDAP Settings - InVision Mockups for testing 11-2018?](https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/screens/318942522_LDAP_Save_Settings_Successful)?

Sorry for my unclear phrases.

[2018-12-06 15:23] susantjasinski commented on #38
@warp5tw I am still uncertain what you need from me. The flat image that you see in the Invision app is a mockup only, the web UI panel does not exist yet. The purpose of this feedback review is to gather comments from the open community so that we can adjust the design before coding in order to have less re-work for developers.

If you tell me what you are trying to do, perhaps I can assess what

[2018-12-06 15:42] susantjasinski commented on #47
@gtmills If I recall correctly, this was supposed to inform the person logging in whether they were to use the LDAP or local account login credentials. If you didn't understand it, then perhaps we need to readdress how we are doing that.

[2018-12-07 03:07] warp5tw commented on #38
@susantjasinski I get your point now because I thought that the web UI panel existed. Originally my idea was to use these web UI panels to test my own LDAP configurations and implementations. That's the whole story.

Thank you for your information about OpenBMC Community Call agenda and I'll check it.

Thank you again.

[2018-12-07 18:19] #42 closed

[2018-12-11 16:57] susantjasinski commented on #44
I don't understand the phrase "# Events are Logged". I think this shows the number of events that display based on a search or filter? In this case, should it read "Results" instead?

[2018-12-11 17:12] susantjasinski commented on #44
"There are no Event Logs" is not correct. Change to "No events have been found for this log."

[2018-12-11 18:20] susantjasinski commented on #47
Customer feedback: one customer expressed concern with letting users know whether LDAP is enabled or not, stating it could be a security concern.

[2018-12-11 18:42] edtanous commented on #47
Can you give quantify better what the security concern is?  We’re currently mocking up the admin console, which requires an active login before anything is disclosed.  Given that admins have the ability to check the enabled state of ldap (and even change it) anyway via the ldap page, why would a notification be a concern?

[2018-12-11 18:49] susantjasinski commented on #47
@edtanous Are you suggesting that we can't display that LDAP is enabled or not until they have already logged in? If this is true, then we can't show the message anyway.

[2018-12-11 20:13] edtanous commented on #47
I didn't realize this was intended to be pre-login.  Per the security architecture, we can't release any system specific information until the user is authenticated and authorized.  This is relatively standard for embedded web server implementations.  Even today, we're already exposing too much to un-logged in users through the static files, which allows fingerprinting OpenBMC.  That's on the list

[2018-12-11 21:05] gtmills commented on #47
I agree with Ed, it should say "Invalid username or password" regardless of if LDAP is enabled. Also, we should not say "Note: LDAP is enabled, and local accounts are disabled?" on the bottom of the page.

[2018-12-12 14:11] susantjasinski commented on #47
Ok, thank you for the feedback. The IBM team had a similar sentiment, but we were still trying to figure out how to make it work. Looks like it would be best NOT to include.

I updated the design mockups.

[2018-12-13 15:52] susantjasinski opened #52 "IP KVM"
[IPKVM - InVision Mockups](https://ibm.invisionapp.com/share/B9NYI6RMDJQ#/318953777_IP_KVM)

This panel is being designed to be consistent with the Serial over LAN (SoL) panel which also has a console. 2 customers stated that they like the console embedded in the panel, but also want the capability to open the console in a popup window - same as the SoL panel design.

The console window size shoul

[2018-12-13 20:51] susantjasinski opened #53 "Firmware Updates"
System Admins need to load firmware images onto the BMC so that they can update their firmware.

This change moves the upload and download options to the top of the panel so that it is visible when the user first opens the panel. It is also simplified for an easier user experience that takes up less screen real estate.

**Upload image file from workstation**

* **Upload image file from workstation

[2018-12-13 21:31] gtmills commented on #53
https://github.com/openbmc/phosphor-webui/issues/34 looks like the same issue.

[2018-12-13 21:32] gtmills commented on #34
Tracking this with https://github.com/openbmc/phosphor-webui/issues/53

[2018-12-13 21:32] #34 closed

[2018-12-13 22:19] susantjasinski commented on #38
New Changes to the Page Layout coming in January based on feedback ...

[2018-12-13 22:19] susantjasinski commented on #46
New Changes to the page layout coming in January based on feedback ...

[2018-12-13 22:21] susantjasinski commented on #39
@sivassrr are you asking for me to display all of the users that belong to the group ID; so perhaps have an "expand" icon that shows a list of user IDs?

[2018-12-13 22:21] susantjasinski commented on #39
New Changes to the page layout coming in January based on feedback ...

[2018-12-17 20:51] gtmills commented on #47
![login](https://user-images.githubusercontent.com/5455127/50114807-27f87180-020b-11e9-8469-75f81ea136a1.PNG)
The error in one is a popup, the error in the other, the text appears under the field.

[2018-12-17 22:19] gtmills commented on #51
Without https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/16191/
![16191-without](https://user-images.githubusercontent.com/5455127/50119146-73b11800-0217-11e9-922c-0d039d9d8dea.PNG)

With https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/16191/
![16191-with](https://user-images.githubusercontent.com/5455127/50119168-81ff3400-0217-11e9-8a8e-36ec8bed91d7.PNG)

[2018-12-20 14:01] #51 closed

[2018-12-20 14:02] #26 closed

[2018-12-21 15:41] #32 closed

[2018-12-25 11:11] morgyi opened #56 "webui keep loading something"
webui keep loading, and can't show any  content on overview & event log page.

does anyone meet this issue? any advice?

![default](https://user-images.githubusercontent.com/45684926/50421240-143ab400-0878-11e9-930f-b894185d5376.png)

![default](https://user-images.githubusercontent.com/45684926/50421276-84493a00-0878-11e9-807b-3ca0d35d9a2f.png)

[2018-12-26 02:30] morgyi commented on #56
This is the same issue with https://github.com/openbmc/phosphor-webui/issues/42

[2018-12-26 04:01] edtanous commented on #13
Any update here?

[2019-01-02 16:05] BeccaBroek commented on #13
Looked at this again this morning on latest master on one of our pool machines and still do not see the websocket closing.  I can't say that I know why it was happening (I was originally able to recreate), but I can't recreate it now.

[2019-01-02 16:16] geissonator commented on #13
Sounds like we're good to go here now.

[2019-01-02 16:16] #13 closed

[2019-01-07 16:55] gtmills opened #57 "The delete button on the new manage user accounts is hide"
![delete_button_not_showing](https://user-images.githubusercontent.com/5455127/50781336-ba1ff280-126a-11e9-9082-d788b5259ec7.PNG)

[2019-01-07 17:00] gtmills opened #58 "Blank error shown even when user is successfully added"
Filled in information for a new user:
![before-save](https://user-images.githubusercontent.com/5455127/50781584-5944ea00-126b-11e9-8554-fbe7b4ec899d.PNG)
Hit save:
![after-save](https://user-images.githubusercontent.com/5455127/50781588-5b0ead80-126b-11e9-8d00-6a4e8ca9a495.PNG)
You can see the new user in the table above but a blank error is still shown.

[2019-01-07 17:06] gtmills commented on #58
Also, have a problem where if the user is not successfully created, not seeing the proper error
Before save:
![before_save_fail](https://user-images.githubusercontent.com/5455127/50781910-323ae800-126c-11e9-880e-4674a2b60874.PNG)
After save:
![after_save_fail](https://user-images.githubusercontent.com/5455127/50781919-35ce6f00-126c-11e9-86ed-9df525ec8102.PNG)
User failed to be created (no new user

[2019-01-07 18:04] apuli1 commented on #58
https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/17116/

[2019-01-08 15:47] gtmills commented on #57
@apuli1 I am testing with the newest master,  v2.4-235-g16be88d. What browser are you using? I see this problem on firefox and edge. On chrome, the "Delete" button is visible but the right side corners are not rounded like the other corners.
![chrome](https://user-images.githubusercontent.com/5455127/50841461-6b399200-132a-11e9-97c3-a9a026119186.PNG)

[2019-01-09 09:11] gkeishin opened #59 "GUI Serial over LAN (SoL) window doesnt stream the boot progress"
In the latest Master yacto2.6 build https://openpower.xyz/job/openbmc-build/1911/

the GUI SOL page doesn't stream the boot progress messages. The port 2200 is working though.

[2019-01-09 17:15] gtmills commented on #59
Confirmed this on a master build. See `websocket closed. code: 1005 reason: ` in the console.

[2019-01-09 18:56] gtmills commented on #59
Works with a build with https://github.com/openbmc/openbmc/commit/16be88d944049ebc52e0d5f07cf2b8be750c54e1

[2019-01-09 20:15] gtmills commented on #59
I believe https://github.com/openbmc/openbmc/commit/768c645a0e038166ee3e46441f5b5a4fe6c9b891 caused this and https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-rest-server/+/16913/  should fix this

[2019-01-10 15:37] susantjasinski commented on #47
@BeccaBroek
- I removed 'invalid format' message from the mockups.
- yes, all other messages (invalid user name and password, server is unreachable, field is required) would appear after the user clicks the 'Log in' button

@gtmills we realize the inconsistency, but having a single message when the ID or password is invalid is a standard used widely in UIs, so we thought it was best to stick with

[2019-01-11 08:21] gkeishin commented on #59
This is now working on latest build

[code]

[2019-01-11 08:21] #59 closed

[2019-01-14 16:48] BeccaBroek commented on #57
Using in chrome, I'm also seeing some strange styling on the dropdown menu. The rounded edges and the arrow is cut off on the right side of input.
<img width="427" alt="screen shot 2019-01-14 at 10 40 24 am" src="https://user-images.githubusercontent.com/26717697/51126512-f6ae9980-17e8-11e9-8268-9fb516495b5a.png">

This is in chrome, but I think just removing the bootstrap 'form-control' class on

[2019-01-15 15:54] susantjasinski opened #60 "Certificate Generation"

[2019-01-15 15:57] susantjasinski commented on #41
This open style guide version will be on hold until teams outside of IBM decide to engage with it. For the time being the IBM Design team will continue to document and share the GUI style guide as flat images in InVision.

[2019-01-15 16:34] susantjasinski opened #61 "Firmware: BMC and Server Firmware tables"

[2019-01-15 16:35] susantjasinski opened #62 "Network Settings and (new) IPV6"

[2019-01-15 16:38] ryanarnell opened #63 "Feature list for SP Next"
We are comparing our existing OpenBMC GUI built with ASMi systems and trying to come up with a feature list that we will be able to present in front of users for testing and rearrangement. We are asking steak-holders and ASMI feature experts to get a better understating of the feature lists.
The link for this is https://ibm.ent.box.com/file/358077213839

Based on this we are constructing a more co

[2019-01-15 16:42] gtmills commented on #41
Closing. Will reopen if we decide to move somewhere.

[2019-01-15 16:42] #41 closed

[2019-01-15 16:46] ryanarnell opened #64 "Globalization for OpenBMC"
We tested our existing app against about the following 9 baseline languages-

- German 
- French 
- Italian 
- Spanish
- Brazilian   
- Portuguese 
- Japanese 
- Simplified Chinese 
- Traditional Chinese

Overall our web app tested pretty well for adopting different length of the words and line orientation for different languages. However there are few places we found some issues that is addressed

[2019-01-15 16:47] gtmills commented on #63
This is IBM specific. It has a link to an IBM box and uses internal IBM code names. Closing.

[2019-01-15 16:47] #63 closed

[2019-01-15 20:49] gtmills commented on #46
@susantjasinski The title "Set date and time dynamically by using Network Time Protocol (NTP) server or manually setting it. " needs an article before "Network Time Protocol (NTP) server". Overall I feel that title feels long and repeats "set".
What is wrong with the current title "Set date and time manually or configure a Network Time Protocol (NTP) Server" or something similar? Also no other pag

[2019-01-15 22:06] #61 closed

[2019-01-22 18:54] derick-montague opened #65 "User management form is not accessible"
# Description
The form for managing user account settings is not accessible. In order to be accessible all form elements must have an associated label. The labels should contain a `for` attribute with the value set to the `id` value of the form element it is supposed to be associated with. This allows for:
1.  Screen readers to inform the user what the form element is for.
2. Mouse users to click

[2019-01-23 19:21] gtmills commented on #62
@susantjasinski Can you add a description?

[2019-01-23 19:23] gtmills commented on #40
@jandraa I can't get to https://ibm.invisionapp.com/share/7FNYCEZHU6B#/318927700_Virtual_Media_-_1_Empty_State

[2019-01-23 19:30] roccopaperscissors commented on #40
This should work: https://ibm.invisionapp.com/share/B9NYI6RMDJQ#/318954652_Virtual_Media_-_1_Empty_State

[2019-01-23 19:32] jandraa commented on #40
This should work: https://ibm.invisionapp.com/share/B9NYI6RMDJQ#/318954652_Virtual_Media_-_1_Empty_State

[2019-01-24 15:11] gtmills commented on #65
Done here: https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/17116/

[2019-01-24 15:11] #65 closed

[2019-01-24 18:38] #58 closed

[2019-01-24 18:39] #57 closed

[2019-01-24 18:39] gtmills commented on #57
https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/17116/ should have fixed

[2019-01-24 20:16] BeccaBroek commented on #37
As far as "Manager Host Name or IP Address field: Format/syntax is validated while typing", @susantjasinski  I don't think we can validate the format of a hostname.

[2019-01-25 04:43] apuli1 commented on #62
I started working on network WebUI page changes for supporting Both REST and Redfish.
At present WebUI Network page data is formatted to common JSON data which can be used by Both Redfish and REST. With that change, REST/dbus based Network page works fine (IPv4). Below commit has Redfish based network page support( View is done and Change settiungs is pending).

I am also working on IPv6 Support t

[2019-01-25 23:03] gtmills commented on #64
https://gerrit.openbmc-project.xyz/#/c/openbmc/phosphor-webui/+/17582/ is a start of this

[2019-01-30 18:12] #28 closed

[2019-01-31 15:16] jandraa commented on #48
New designs created by Intel and pushed to the build.

These designs, however, do not follow the design patterns followed by other panels (LDAP in particular, since it is the most related) so there needs to be an effort to to take another pass at the current designs on the build.

[2019-01-31 23:07] derick-montague opened #66 "Secondary button hover is not accessible"
## File
`app/common/styles/base/buttons.scss`
**Line: 58 - 63**
[code]

## Issue
- [ ] There are two declarations in the CSS rule with the `.btn-secondary:hover` selector. Remove  the following declaration`background: $lightbg__accent`

- [ ] Add a color to override the `#fff` that bootstrap sets. Should use `$secbtn__text`

### As Is
![image](https://user-images.githubusercontent.com/1183515/5209

[2019-01-31 23:29] derick-montague opened #67 "Filter button is not aligned correctly"
## File
`app/common/styles/elements/content-search.scss`
**Line: 49**

## Issue
The filter button in the text fields are not property aligned. It is too large for the field.

### As Is
![image](https://user-images.githubusercontent.com/1183515/52092271-9b1c3400-257c-11e9-8be5-71e8c2ad3d9e.png)

![image](https://user-images.githubusercontent.com/1183515/52092303-bedf7a00-257c-11e9-9d83-2a2247c3ba06

[2019-02-01 02:14] derick-montague commented on #67
I am not seeing this in master only in one of the patches being reviewed.

WebUI: Adding Filters support to SEL logs: `17024`

[2019-02-02 01:09] #47 closed

[2019-02-05 16:22] gtmills commented on #60
@susantjasinski Can you add a description?

[2019-02-11 15:30] BeccaBroek commented on #37
@jandraa could you update with new Invision design at some point?

[2019-02-11 15:55] jandraa commented on #37
UPDATED InVision link: https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/318996535_1-_SNMP_Empty

[2019-02-13 16:27] susantjasinski commented on #47
Max Cooper:  AMI BMC does not have this field. OpenBMC gives: Server unreachable if another Server IP was used

Richard: What is the purpose of this IP address. We will connect to BMC through ip address (say https:// right). Why do we need this specifically?

Reply:
Providing the hostname on this panel allows users to log into a different BMC ... the first-attempt solution for multi-server control

[2019-02-13 16:34] susantjasinski commented on #47
Gunnar Mills: So currently with our CSRF prevention we don't allow logging into another machine from a different machine's GUI so I think we should revisit this.

@gtmills Lets revisit this. Thank you all for your input

[2019-02-18 15:15] sivassrr commented on #39
Have seen the updated design page provided @jandraa . Overall looks good,  If we enable LDAP authentication, what happens to local user authentication. do we need to disable explicitly the local user authentication. Can we have an option for both or single authentication (either LDAP or local).

[2019-02-18 15:34] jandraa commented on #39
Thanks for the feedback @sivassrr ! I'm still learning the technicalities, can you help me understand what you mean by LDAP or local authentication? Are you possibly referring to user management?

[2019-02-18 19:45] bradbishop commented on #39
On Mon, Feb 18, 2019 at 07:15:54AM -0800, Sivas SRR wrote:

IMHO enabling an ldap backend should not implicitly do anything to the local
backend state.  If it did, that would be unexpected by users and thus violates
the [principle of least
astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment)

[2019-02-18 19:55] jandraa commented on #39
The designs were created with the impression that LDAP and local user management were and would be separate. After Siva's comment, I verified it was being developed that way, and it is. So disabling LDAP authentication would have no impact on the local users.

[2019-02-18 20:00] jandraa commented on #39
@bradbishop and @sivassrr We've gotten feedback that users could potentially have more than one server URI. Do you have an opinion on whether it would be expected that each server URI has its own set of properties (LDAP Type, BaseDN, BIND DN, BIND password, and Search Scope)? Or would these properties be the same and apply to all servers?

[2019-02-19 05:31] sivassrr commented on #39
Yes each server URI can have its own set of properties like LDAP Type, BaseDN, BindDN, Search  Scope  and Bind Password.

Scenario where almost all properties can be change is when LDAP server is cloned to create another LDAP server.
Even in this case as well,  base LDAP server URI / Bind Password can be still be different. Minimum server URI will be different.

[2019-02-21 21:47] jandraa commented on #62
@apuli1 please review the design we are currently working on
https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/319002386_V2_Networking_Mutliple_VLAN

[2019-02-21 21:49] jandraa commented on #53
Most recent design: https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/319006100_V2-1-_Firmware

[2019-02-21 21:50] jandraa commented on #48
Updated design suggestions by IBM : https://ibm.invisionapp.com/share/RQNYHJ0VBDY

Open question:
1. Are user ID’s needed?
2. Does ‘unlocking’ a user require a password reset?
3. Who has access to this panel?

Need user feedback and community feedback.

[2019-02-21 21:51] jandraa commented on #46
Current design proposals: https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/318994111_1-_S_Empty

[2019-02-21 21:54] jandraa commented on #38
Current design: https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/318942513_LDAP_Disabled

Open questions:
- How many server URI's is the backend built for?
- Would each server URI have a distinct set of properties (BIND password, LDAP type, etc.) or would they all have the same settings for all those properties?

[2019-02-26 17:23] susantjasinski commented on #7
related issue https://github.com/openbmc/phosphor-webui/issues/62

[2019-02-28 19:33] jandraa commented on #7
@AlexanderAmelkin The design team has updated the UI proposal, please review at https://ibm.invisionapp.com/share/RQNYHJ0VBDY#/319002386_V2_Networking_Mutliple_VLAN . The corresponding issue is the one tagged above by Susan

[2019-03-04 15:21] AlexanderAmelkin commented on #7
@jandraa, thank you for the update!

[2019-03-11 18:54] BeccaBroek commented on #66
@derick-montague

can you elaborate on "There are two declarations in the CSS rule with the .btn-secondary:hover selector. Remove the following declarationbackground: $lightbg__accent" ?

[2019-03-13 16:04] BeccaBroek commented on #44
User messages:
If no logs at all - 'No events have been logged yet.'
If there are logs but the filters return none - 'There are no events that match the selected criteria.'

[2019-03-18 13:39] #66 closed

[2019-03-18 14:56] #44 closed

[2019-03-19 15:59] ryanarnell opened #68 "Remote Logging"
Remote login enables you to have an external machine read the current health status of the server.
- It makes an audit log,
- Streams the data to a remote server, and
- Sets up that remote server.

Currently Command-Line only. The GUI screens can be found here -
https://ibm.invisionapp.com/share/8ENYRVXAPFD#/319093113_Remote-Logging-01

[2019-03-19 16:42] ryanarnell opened #69 "Backup and restore"
This page allows you to select the specific configuration items to be backup in case of "Backup Configuration" and it will allow to restore the configuration in case of "Restore Configuration" .

[2019-03-19 19:17] jandraa opened #70 "Colors not accessible - selected category in side-nav"
On the selected state, the color of the icon is not accessible. Please chance from Blue 40 to Blue 50.

Reference in Style Guide:
Colors: https://ibm.invisionapp.com/d/#/console/15339466/318902254/preview
Side Navigation: https://ibm.invisionapp.com/d/#/console/15339466/318902250/preview

** Note that Blue40 had to change from #3C6DF0 to #2D60E5 to be accessible. Additionally, Red50 changed from #

[2019-03-19 19:27] jandraa opened #71 "'Edit' host name doesn't apply saved changes when the name contains a space"
On the server overview page, when the 'Edit' button is clicked to change the host name, there are two problems:
1) The saved host name should be pre-populated in the field, where the user can modify and give a new name.

--> The current name of the host should be displayed in the field. As soon as the user starts typing, the original name should be replaced by what the user is entering.

2) If the

[2019-03-21 21:43] BeccaBroek opened #72 "Invalid user name / password message not working"
Previously, login screen alerted user to invalid username and password, now it says 'server unreachable' although that is not the issue.
Recreate: Go to login page and type the incorrect username / password.

Should be this:
![Screen Shot 2019-03-21 at 4 44 29 PM](https://user-images.githubusercontent.com/26717697/54787108-bdcfde00-4bf8-11e9-8662-ef522e1024e7.png)

Looks like this:
![Screen Shot 2

[2019-03-22 05:24] rahulmah opened #73 "Error message needs to be proper while creating user with same name"
Error message needs to be proper in GUI while creating user with same name.  At present, we get an error message "Failed to create new user" which does not let you know the exact problem for the failure. So we needs a better message something like - "Operation failed as user already exist with same name".

Tested with latest master build -
[code]

Steps to recreate:
1. Try to create a user with sa

[2019-03-22 05:34] rahulmah opened #74 "Error message needs to be proper while creating 16th user"
Error message needs to be proper in GUI while creating 16th user. We have a limit of max 15 user in OpenBMC. This limitation is because redfish and IPMI user in sync (i.e. if we create user, we will create the user with IPMI support too). And IPMI has a limit of 15 users as max.

The error message which we get is "Failed to create new user". This does not let you know the exact failure reason. So

[2019-03-26 13:38] #35 closed

[2019-03-27 13:41] #72 closed

[2019-03-28 03:50] derick-montague commented on #70
This change to blue will resolve more than just this contrast issue. We are using that blue as a link color and so many buttons and links don't meet WCAG AA contrast guidelines of 4.5:1 ratio. I am updating this and this fix alone increases our Accessibility score a fair bit in Lighthouse on the Server Overview page.

[2019-03-29 03:11] derick-montague commented on #70
@gtmills Can you assign this to me and update the status?

[2019-03-29 07:32] rahulmah opened #75 "Error message needs to be proper while creating user with invalid password"
At present we get generic message"Failed to create new user" while creating user with invalid password(e.g. abc, test). This need to be improved.

![image](https://user-images.githubusercontent.com/17079490/55216354-85e12000-5222-11e9-9ae0-1f2080e1588e.png)

We should get something like - "User creation failed due to invalid password."

Tested with below latest master build:
[code]

[2019-03-29 19:54] #70 closed

[2019-03-29 23:32] derick-montague opened #76 "Resolve common accessibility issues"
## Global
- [x] Main heading has attribute role value set to `heading`.
This is an odd role to have since it is meant to replace `heading` elements like `<h1>, <h2>`, etc
**Solution**:
Remove the role

![image](https://user-images.githubusercontent.com/1183515/53751175-503e5680-3e71-11e9-8ee8-f640b3e2135b.png)

## Server Control -> Manage Power Usage
- [x] All form elements require a label
![image

[2019-03-29 23:38] derick-montague commented on #76
@gtmills  - Can you assign this issue to me? Thank you!

[2019-04-01 13:57] jandraa commented on #60
In addition to the traditional 'certificate upload', users are able to obtain a certificate by generating one and soliciting a CSR (certificate signing request) via a signing authority. Users must provide certain info (ex. company name, country, city, email, etc.) and key info (ex. bit length), to generate a private key and a CSR. Once a certificate has been signed by an authority, this file needs

[2019-04-02 13:06] gkeishin opened #77 "Code upload failed on BMC web UI"
[code]

Downloaded BMC image, and try doing code update via BMC web UI in firmware section. The upload progress status shows it progressed but when page is refresh the new image is not loaded on the BMC  /tmp/images/

[2019-04-02 13:48] gtmills commented on #77
@gkeishin This sounds like a problem with the backend code update, not a GUI problem. Anything in the journal?

[2019-04-02 13:57] gkeishin commented on #77
I dont see anything on journald.. so that kind of weird. The back end is still intact and the CI running the back end code update, so we looked good there.

[2019-04-02 14:38] #37 closed

[2019-04-04 21:10] dixsie opened #78 "Filter by severity in active state"
<img width="390" alt="Screen Shot 2019-03-26 at 10 57 42 AM" src="https://user-images.githubusercontent.com/26472611/55588400-48cdcf80-56f3-11e9-96af-9df27702cf33.png">

Current: When clicking filter by severity buttons, if all three (high, medium, and low) are selected, the last one clicked remains highlighted (or focused, blue border) and the 'All' button shows active.

Resolution: When high, me

[2019-04-05 19:56] #73 closed

[2019-04-05 19:56] #74 closed

[2019-04-08 10:43] Liuyang1216 commented on #62
@jandraa @gtmills I use the newest openbmc, and set ipv6 address.
How to use curl command to send IP in IPV6 format？Can you show me an example?

[2019-04-10 06:15] gkeishin commented on #77
Still persistent failure on latest master too.. @gtmills can we try to root cause this one.. Thanks

[2019-04-10 08:59] rahulmah commented on #74
Issue is fixed. Verified with latest master - 2.7.0-dev-354-g6d4bcf0

[2019-04-10 08:59] rahulmah commented on #73
Issue is fixed. Verified with latest master - 2.7.0-dev-354-g6d4bcf0

[2019-04-10 15:51] #76 closed

[2019-04-10 16:30] BeccaBroek opened #79 "Activate image and reboot BMC is not rebooting the BMC"
![Screen Shot 2019-04-10 at 11 26 45 AM](https://user-images.githubusercontent.com/26717697/55896330-ad6dac00-5b83-11e9-9c90-b972f48c45d8.png)

Recreate:
1. upload BMC image
2. click activate
3. see popup and choose 'activate and reboot'
4. You will see the image activate, but the BMC will not reboot.

[2019-04-10 19:13] BeccaBroek commented on #77
<img width="529" alt="Screen Shot 2019-04-10 at 1 58 59 PM" src="https://user-images.githubusercontent.com/26717697/55906662-6808a900-5b9a-11e9-8a82-2718a80e49ac.png">

![image](https://user-images.githubusercontent.com/26717697/55906731-8c648580-5b9a-11e9-9949-e3dea0cb85e8.png)

The following console errors needed to be resolved - we were using an inline onClick that isn't supported by newer brow

[2019-04-11 15:34] jandraa commented on #60
**InVision prototype:** https://ibm.invisionapp.com/share/K8NYRVZVEC5#/319042048_1-_Generate_Certificates

Open questions:
- [ ] How do users identify a certificate when there is more than one of a single type?
- [ ] How do users interact with the date? Why is knowing the exact valid from and valid until dates valuable vs the number of days until expiration? ('valid from - valid until' VS. 'X days

[2019-04-11 20:27] #77 closed

[2019-04-14 01:50] derick-montague commented on #14
@gtmills This feels like it is pretty granular and would be better specified as pattern in the style guide for the entire GUI. The InVision links referenced are in an archived project @jandraa. Is this issue something that we still need to track here?

[2019-04-14 02:39] derick-montague commented on #15
@gtmills @jandraa - All the InVision links in this issue reference a project that has been archived. Is this issue still valid?

[2019-04-15 16:51] gtmills commented on #15
This is covered by https://github.com/openbmc/phosphor-webui/issues/62, Closing.

[2019-04-15 16:51] #15 closed

[2019-04-16 14:15] ryanarnell commented on #68
The screens we are currently working on-
https://ibm.invisionapp.com/share/8ENYRVXAPFD#/319050393_Remote-Logging-01
Open questions-

- Is there a need to be able to add multiple servers?
- Would users like to be able to enable and disable a remote logging servers?
- Would users see a value in having a history of servers?

[2019-04-18 02:18] derick-montague commented on #71
@gtmills - This issue has a review in Gerrit pending and should be in current sprint and assigned to @dixsie

[2019-04-18 02:24] derick-montague commented on #78
The focus state indicates that the Low button is where the focus is. If a user were to click `Al` and then tab through the buttons, they should show that focus state. We don't want to change the focus state. There is a way to turn off focus states for mouse users, but it is not supported in all modern browsers.

This specific pattern is expected and we don't want to change the focus state indicato

[2019-04-18 02:25] derick-montague commented on #79
@gtmills - Is this currently being worked on?

[2019-04-19 14:55] jandraa commented on #78
In the scenario described by Disxie, where 'High' is clicked, then 'Medium', then 'Low', should the focus state shift from 'Low' to 'All' when 'Low' is clicked?

[2019-04-19 18:59] derick-montague commented on #78
It should stay on the button that the user clicked or activated (mouse user hits enter or space). To change the focus state, we would need to programmatically change the active element, which would isn't a great experience for a keyboard user.

The pattern we are using is not what I would expect as a user. I would expect that If all options are selected and the user just wanted to filter by `Mediu

[2019-04-22 16:39] jandraa commented on #78
I completely agree. The current pattern can be understood but is not what is expected. I think following the pattern Carbon is using could also free up more screen space and allows us to move the actual content of the page (the events logged) up closer to the top of the page. And this can be applied to other pages, like Sensors, as well.

Let's try to figure out if and when we can include some des

[2019-04-24 20:31] jandraa opened #80 "Add manager doesn't add fields - SNMP page"
Where: On the SNMP page

Current / Description: After the info for one manager has been entered and 'Add manager' is clicked, the hostname and port fields get collapsed into the list view and no new empty fields appear. The user then has to click on 'Add manager' again to get new fields.

Fix to: Upon clicking 'Add manager' collapses filled in fields that do not have errors **and** more importantl

[2019-04-25 18:39] gtmills commented on #52
This is complete.

[2019-04-25 18:39] #52 closed

[2019-04-26 15:52] gtmills opened #81 "KVM: Add a "open in new tab" button"
The SOL console has a "Open in new tab", the KVM should as well. This mockup shows this:  https://ibm.invisionapp.com/share/B9NYI6RMDJQ#/screens/318953777_IP_KVM

[2019-04-26 15:52] gtmills commented on #81
This would be useful for navigating the GUI while continuing to have KVM connected.

[2019-04-26 16:57] jandraa opened #82 "Boot Options"
## Use Case
The intent of the boot options is to indicate "how" and "from where" to boot the OS.
- The "how" part is called boot mode and the options are: **Regular** (regular/default mode, such as boot to an OS), **Safe** (boot to a diagnostic/trouble-shooting mode), **Setup** (boot to BIOS setup) 
- The "where" part is called Boot Source and the options are: **Disk** (local hard disk), **Externa

[2019-04-29 19:15] gkeishin opened #83 "KVM to handle multiple web socket connection"
Current KVM implementation allows ONLY 1 user to view and connect. The next user doesnt get the session till the current user logs out.

Few suggestions:
- [ ] handle multiple web socket connection
- [ ] If ONLY 1 user, perhaps pop up and let user know there is already 1 active session
- [ ] OR allow user to force close the web socket connect and give new.

[2019-04-29 19:43] gkeishin opened #84 "Virtual Media to detect already active session when different user logs in"
When two user logs in, they see differently for Virtual Media in the sense, if 1 user have already active session, the next user doesnt see as active.

Suggestion:
- [ ] If a user already have active session locked, another user should see it locked.

The changes of two user to do at the same system over a same span is less, but it would be safe to lock to avoid those collision.

[2019-04-30 06:18] amboar commented on #83
The risk here is that if something breaks, it's probably the same 1 user trying to create a new session

This approach would definitely irritate me less if I were the one hitting a bug that had the symptoms I outlined above.

[2019-05-01 16:42] yoshiemuranaka commented on #71
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/20669
Disabled button on code drop ^

![Screen Shot 2019-05-01 at 11 23 02 AM](https://user-images.githubusercontent.com/8097306/57029023-379ab480-6c06-11e9-863b-b7d9025b1ad7.png)

[2019-05-03 15:22] dixsie commented on #71
Primary disabled button colors per style guide

<img width="602" alt="Screen Shot 2019-05-03 at 10 20 09 AM" src="https://user-images.githubusercontent.com/26472611/57147488-49f32a80-6d8d-11e9-8d46-856b6cb0a344.png">
<img width="750" alt="Screen Shot 2019-05-03 at 10 19 55 AM" src="https://user-images.githubusercontent.com/26472611/57147489-49f32a80-6d8d-11e9-9255-3247fc3886e9.png">

[2019-05-03 21:39] gtmills opened #85 "Upgrade node-sass to fix tar vulnerability"
Need to update node-sass when they publish a new release.
https://github.com/sass/node-sass/issues/2625
Please read issue for more detail, but it is not a simple fix on their end.

[2019-05-03 21:55] gtmills commented on #85
See https://nvd.nist.gov/vuln/detail/CVE-2018-20834

[2019-05-08 14:50] #71 closed

[2019-05-14 18:43] derick-montague commented on #31
@gtmills - Please close this ticket as we are working on a new design as part of boot options

[2019-05-14 20:08] #31 closed

[2019-05-15 20:51] #79 closed

[2019-05-21 06:53] adathatri opened #86 "GUI: Server overview page re-appears for few seconds when navigating to User account page from Server overiew"
The existing page reloads before navigating to the user clicked page.
For eg:
Suppose we are on Server Overview page and Click on Users --> Manage user accounts. Server overview page reloads and appears for few seconds before User account page shows up.

[2019-05-21 16:52] frsauvage commented on #47
Hi @gtmills ,

Do you know if it is now possible to log on from a different machine' GUI ?

Because I try and it does not work
$http does NOT allow me from another machine.

Regards,
Francine

[2019-05-21 21:03] #85 closed

[2019-05-23 01:14] gtmills commented on #86
@derick-montague @ryanarnell and I have noticed this as well.

[2019-05-23 18:04] gtmills opened #87 "See Unknown provider: eProvider toggleFlagDirective error on Event log page"
Seeing the following error in the Browser console when navigating to Server health -> Event log

[code]
Seen multiple times, the build I saw it on was 2.7.0-dev-634-g30217a5

[2019-05-23 18:07] gtmills opened #88 "See refused to evalute because of 'unsafe-eval' on System Logs page"
See the following errors in the browser console when navigating to Server health -> System Logs

[code]

Seen multiple times, this build was 2.7.0-dev-634-g30217a5

[2019-05-24 01:00] derick-montague commented on #86
This is caused by the addition of the toast messages on 12/14/18. Removing the ngAnimate from the dependencies resolves the issue. I am working on resolving this issue.

Gerrit Review: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/16804

[2019-05-24 03:41] derick-montague commented on #86
Review ready: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/21930

[2019-05-28 17:53] derick-montague commented on #86
@gtmills or @edtanous - Please assign this to me and move it to the current sprint lane. Although, given that we don't plan or work in Sprints for this repo, it might also make sense to change that lane title from "Current Sprint" to "In Progress". There is a review pending...See above.

[2019-05-29 01:01] #86 closed

[2019-06-12 15:13] jandraa commented on #62
Final proposal: https://ibm.invisionapp.com/share/8ENYRVXAPFD#/319115961_Physical

[2019-06-21 14:29] #68 closed

[2019-06-21 19:51] gtmills commented on #47
Hi @frsauvage ,

Not without turning off XSS and CSRF PREVENTION in bmcweb and some changes to Content Security Policy: "default-src 'self'".
https://github.com/openbmc/bmcweb/blob/1bfbe0e0372de7991bab9bb0a7ba015356f7d3b2/CMakeLists.txt#L46

[2019-06-28 13:40] ryanarnell opened #89 "Event log page redesign based on redfish and user feedback"
The event log page needs to be redesigned to support new redfish api and also to be more user friendly.
## Expected Delivery Dates
- [ ] UX: xx/xx/xx
- [ ] Backend: xx/xx/xx
- [ ] FED: xx/xx/xx

## Stakeholders
**SME**: @spinler, @dkodihal , Justin Thaler
**Design Researcher**: @nicoleconser
**UX Designer**: @ryanarnell
**FED**:

## Use Case
---

## InVision Prototype
https://ibm.invisionapp.com/s

[2019-07-01 15:34] jandraa opened #90 "TPM Required Policy"

[2019-07-02 16:08] #90 closed

[2019-07-09 02:01] #43 closed

[2019-07-23 17:20] gtmills opened #91 "Fix lodash security vulnerability"
See https://github.com/lodash/lodash/pull/4336 for more information.
Need a npm update
When I did a npm update on 7/23/19, not all packages were using the fixed version of lodash.
(E.g. babel-core is still using 4.17.11 https://github.com/babel/babel/issues/10226 )

https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/23782 only partially addresses.

[2019-07-23 18:52] gtmills commented on #67
![filter-event-log](https://user-images.githubusercontent.com/5455127/61738948-0b985680-ad51-11e9-8f5f-4a181a5e5e3f.PNG)
Current master. @derick-montague Do we ned more work here?

[2019-07-23 18:57] gtmills commented on #60
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/22468

[2019-07-24 15:41] gtmills commented on #48
@jandraa Is this the latest user management design?

[2019-07-24 15:41] derick-montague commented on #53
This design is out of date. Will be creating a new story to address the updated design.

[2019-07-24 15:41] jandraa commented on #48
This is the latest https://ibm.invisionapp.com/share/4XNZ0JAMJ7B#/319147576_6-4-1_Regular

[2019-07-24 15:41] #53 closed

[2019-07-24 15:46] derick-montague commented on #14
This work is accounted for in #62. We will revisit this story and possibly pull GUI work out following the completion of #62.

[2019-07-24 15:48] derick-montague commented on #7
This will be addressed with story #62.

[2019-07-24 15:52] derick-montague commented on #67
No, we can close this.

[2019-07-24 15:52] #67 closed

[2019-07-24 15:57] derick-montague commented on #75
This also requires backend work to improve the error messaging returned with the response.

[2019-07-24 16:08] derick-montague commented on #78
We are starting to introduce a new pattern as part of the event logs page redesign. This issue was just added to the `Design Review` pipeline in story #89. We will want to get feedback from the community as this pertains to `System Logs`, `Event Logs`, and `Sensors` pages.

[2019-07-24 16:43] jandraa opened #92 "Firmware"
## Use Case
As a user I need to update the firmware code on my systems. Other related functions are promoting and deleting images.

This story improves the usability of the current design by addressing the following items:
- Intuitiveness on which image is running
- Clarity on what the current activated images are and what they will be on the next reboot
- Updating terminology to match what custom

[2019-07-31 15:39] #91 closed

[2019-08-21 21:14] #82 closed

[2019-09-05 13:25] AlexanderAmelkin commented on #6
@ryanarnell, any progress on this?

[2019-09-10 19:03] jspatz1 opened #93 "GUI: Design: Customer with 32 character minimum password requirement"
## Use Case
**In "Add User" modal:**
If user password exceeds 20 characters, validation text notifies the admin/user that
1. their initial password is too long
2. they will later have the opportunity to change this password to a longer length

**In "Modify User" modal**
If user password is changed to a length of over 20 characters, a warning notifies the admin/user that
1. a password of longer tha

[2019-09-11 15:16] jandraa opened #94 "Alert user of need and ability to change expired password"
## Use Case
As a user logging into the BMC, I need a way to change my password whenever it is expired. This will also cover the case of the first login using the initial password created by the BMC, when I need to update my password before I can interact with the BMC.

## InVision Prototype
https://ibm.invisionapp.com/share/8ENYRVXAPFD#/319247221_1-_Login____existingBrand

## References/Resources

[2019-09-16 10:14] AlexanderAmelkin commented on #6
@gtmills, anybody?

[2019-09-16 13:22] gtmills commented on #6
@jandraa @derick-montague @AlexanderAmelkin Is there a design that better handles parent /children inventory items?

[2019-09-26 20:05] #38 closed

[2019-09-26 20:05] #39 closed

[2019-10-07 23:05] ryanarnell opened #95 "Display Min / Max Power Cap"
## Use Case
As a user I need to know the system's power min and max limits in order to set the power cap.

## InVision Prototype
https://ibm.invisionapp.com/share/QKNZAGECYNF#/319278728_01-Min-Max

[2019-10-10 01:58] luowangwang opened #96 "After several hours of page silence ，the function of getFirmwares in api-utils.js is unable to access the interface"
Such as the title

[2019-10-16 14:27] derick-montague commented on #60
@gtmills - This is merged, should this story be closed?

[2019-10-16 15:36] #60 closed

[2019-10-16 16:01] ryanarnell opened #97 "GUI Design for Dumps"
## Use Case
Having one single place to Initiate a dump todiagnose a potential problem.

## InVision Prototype
https://ibm.invisionapp.com/share/QKNZAGECYNF#/319267167_01-Dumps-1

[2019-10-16 16:52] gtmills commented on #48
Done.

[2019-10-16 16:52] #48 closed

[2019-10-16 17:24] frsauvage opened #98 "no icon while Running locally"
Use Case
I am trying to use phosphorwebui locally with a remote server.
I figure out nearly everything - : CORS, x-auth-token, origin: *, CSP - everything except ... icons !

I guess it is a stupid configuration somewhere, any help would be appreciate,

![no_icon](https://user-images.githubusercontent.com/23147820/66942995-91732780-f04a-11e9-8a4b-b179dd0a6270.png)

Best Regards,
Francine

[2019-10-21 12:27] zkurzyns opened #99 "default port is not warking when developing locally"
According to README, this command
`npm run-script server`
Should start a server instance and begin listening for connections at http://localhost:8080

It looks like it doesn't work.
When I launch that command the serwer runs on some random ports.

Adding an option **--port 8080** in package.json forces 8080 port usage.

`"server": "webpack-dev-server --history-api-fallback --inline --progress --de

[2019-10-21 13:53] zkurzyns opened #100 "Logging is not possible due to connect-src settings."
When developing phosphor-webui locally with qemu it is not possible to login into bmcweb.

Each attempt ends with message
`Content Security Policy: The page’s settings blocked the loading of a resource at https://127.0.0.1/login (“connect-src”).`

Workaround is to replace **connect-src** settings in file webpack.config.js with this:
`connect-src': ['*']`

[2019-10-21 13:55] edtanous commented on #100
It's actually been on my list to completely delete the webpack CSP section.  It's duplicated functionality with bmcweb, and unnecessary no have in webpack.

[2019-11-08 15:29] zkurzyns commented on #100
Closing this, it seems to be fixed with commit f6387628d22b525c20a16e4b928ceece0e03c92b

[2019-11-08 15:29] #100 closed

[2019-11-26 21:21] lpanayioto opened #102 "LDAP setup initially gives a "fake" error message"
LDAP setup will always give an error the first time you click save. Although if it is correct it will save the settings.

**Unexpected behavior you saw**
After correctly entering the LDAP settings and clicking save for the first time I got an error message. Settings were still saved after refreshing. All subsequent messages will be correct.

**Expected behavior**
Success Message when correctly ent

[2019-12-02 22:21] geissonator commented on #102
@gtmills or @gkeishin any known issues in this area?

[2019-12-02 22:49] gtmills commented on #102
I have not. @derick-montague

[2019-12-03 12:39] derick-montague commented on #102
I am able to reproduce this. Has anything changed on the backend because this was working? The request is returning a 400 with the following message:

[2019-12-04 01:06] lpanayioto opened #103 "Backend is lagging behind in LDAP setup and Local User creation"
**Context**
In the current version If there is an LDAP user with the same name as a local user, LDAP configuration will fail. And if LDAP is configured and one tries to create an user with the same name as an LDAP user the user creation will fail.

**Unexpected Behavior you saw**
After Configuring the LDAP server and then disabling it I can't create a new local user with the same name as an LDAP u

[2019-12-04 18:00] #102 closed

[2019-12-06 19:07] jandraa opened #104 "Update BMC Information in Server Overview"
## Use Case
As a user, I need to see the network information for all ports from the Server Overview page. This design includes IP address, hostname, and MAC address for both eth0 and eth1.

## InVision Prototype
https://ibm.invisionapp.com/share/Q6NZ13M3A5B#/319351716_Server_Overview_-_Double_Ports

[2019-12-18 03:00] wenqian0812 opened #105 "could u provide i18n for the web-ui"
could u provide i18n for the web-ui, thank u

[2019-12-19 07:51] MaxPower2005 opened #106 "How to send CTRL-ALT-DEL (or other special key combinations)?"
The IP KVM panel of phosphor-webui seems to be missing a feature to send special code sequences like CTRL-ALT-DEL (CAD) to the target. Some of the special key combination needed in daily life seem to be filtered out either by the OS or the browser. CAD for example is essential to activate the login process on all versions of Windows Server.

[2020-01-01 11:10] ytmhub opened #107 "Uploading firmware images"
Hi,

I'm implementing a new layer for OpenBMC, and I'm trying to figure out what I need to do in order to support uploading firmware images via the web UI.

Right now, when trying to upload an image via "Server configuration" tab, I immediately receive an "Unable to upload image file" Error. I didn't see any log related to this in the journal, so I think it fails before even reaching 'bmcweb'.

An

[2020-01-21 08:49] frsauvage opened #108 "karma / .spec files : no tests ?"
Hi,
Seems there is not unit test ? why a karma conf file ?
Regards,
Francine

[2020-01-23 17:53] gtmills commented on #108
Hi @frsauvage,

It should be removed. It was added here, https://github.com/openbmc/phosphor-webui/commit/bbcf670a1c8c7463556eb006bc8f6bbfe29af3e4#diff-a2a3b7b0c9c3b4b93b4aebf4e3ec3cfb with the plan being unit tests would be added one day but they never have been.

Work has started on the webui vue rewrite: https://gerrit.openbmc-project.xyz/q/project:openbmc%252Fwebui-vue+status:open and https://

[2020-01-23 17:55] gtmills commented on #107
@ytmhub Anything in the browser console ?

https://support.airtable.com/hc/en-us/articles/232313848-How-to-open-the-developer-console

Looks like the error is coming from:
https://github.com/openbmc/phosphor-webui/blob/432f02cd8355509a8a51fe2baf2097de78a831bf/app/configuration/controllers/firmware-controller.js#L193

[2020-01-23 17:58] gtmills commented on #105
Hi @wenqian0812, we (IBM) plan to add language translation to the new vue rewrite. I have not heard of any plans to add Internationalization to this application.

The vue rewrite can be found at:
https://gerrit.openbmc-project.xyz/q/project:openbmc%252Fwebui-vue+status:open https://github.com/openbmc/webui-vue

The plan is for the vue rewrite to reach feature parity with this repo by June 2020.

[2020-01-23 18:08] gtmills commented on #96
@luowangwang did the session timeout?
bmcweb times out after 60 mins of inactivity.
https://github.com/openbmc/bmcweb/blob/cac94c55c59a397524a04786f4d699e2bd7f21bf/include/sessions.hpp#L294

The webui should have redirected you to the login page though..
https://github.com/openbmc/phosphor-webui/blob/c652ed1889599da3ca2a0e0d36979e099f9b3b8c/app/common/services/apiInterceptor.js#L50

[2020-01-26 12:04] ytmhub commented on #107
@gtmills That's what I'm getting in the browser console:

`{data: null, status: -1, headers: ƒ, config: {…}, statusText: "", …}
config:
data: File {name: "obmc-phosphor-image-hls.static.mtd.tar", lastModified: 1579789524003, lastModifiedDate: Thu Jan 23 2020 16:25:24 GMT+0200 (Israel Standard Time), webkitRelativePath: "", size: 39802880, …}
headers: {Content-Type: "application/octet-stream", Acce

[2020-01-27 14:11] gtmills commented on #107
@ytmhub Are you using bmcweb as your webserver ?
https://github.com/openbmc/bmcweb/blob/8251ffee18bc18b7cdda281b3ec137023aa79303/include/image_upload.hpp#L125

Is BMCWEB_ENABLE_DBUS_REST turned off?
https://github.com/openbmc/bmcweb/blob/61dbeef97168db1a1f7a351c5f95e09afd361e48/src/webserver_main.cpp#L83

What layer is this?

@anoo1 Have any thoughts?

[2020-01-27 14:19] ytmhub commented on #107
It's on, I can run other REST commands via curl, such as activating an image,  performing factory reset, rebooting, etc.

It's not in upstream yet.

[2020-01-29 14:43] rockleesan commented on #107
Hi, i have the same problem.
After enabling -DCMAKE_BUILD_TYPE=Debug, I found that, firmware update doesn't work because of software version verification. "same version already exist" and terminates uploading process. What i would do is cut this part of verification from the code, because we have a lot of cases where we need to update existing version to the same version of bmc. My question is, wi

[2020-01-29 16:36] gtmills commented on #107
@rockleesan Why do you need to update an image with the same version as what is already on the system?

[2020-01-29 16:43] rockleesan commented on #107
Because in some cases, in some reasons, bmc firmware could be corrupted , for example sensors could be unreadable.

[2020-01-30 12:42] ytmhub commented on #107
This is not my issue, I AM using tar packages that contain a different version in their manifest and os-release.

BTW, if you need to update outside of an official release (i.e., during development process, for instance), you can simply append os-release recipe, and add a timestamp suffix or something to VERSION_ID.

[2020-01-31 11:28] rockleesan commented on #107
I'm already did that. Thank you.

[2020-02-04 21:04] feistjj opened #109 "Login redirect doesn't verify redirect is local"
https://github.com/openbmc/phosphor-webui/blob/c652ed1889599da3ca2a0e0d36979e099f9b3b8c/app/login/controllers/login-controller.js#L46

This can be used to redirect a user anywhere given a bad link, should check first that redirect is local to current host.

[2020-02-08 15:12] ytmhub commented on #107
I think I've narrowed down the issue to my image being too large (more than 32 MB), since I did manage to upload an image tar in which I removed its rofs image.

Though I'm still not sure yet where is it tested in the code.
Assuming I'm correct, where is this limit defined?

[2020-02-09 04:14] gtmills commented on #107
@ytmhub, @anoo1 did some work here to allow for larger sizes:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/27752
https://gerrit.openbmc-project.xyz/c/openbmc/meta-openpower/+/28242

[2020-02-09 11:21] ytmhub commented on #107
Thanks!

That definition solved the issue.

[2020-02-09 11:21] #107 closed

[2020-02-10 18:44] gtmills commented on #109
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/29216

[2020-02-11 16:43] #109 closed

[2020-04-26 03:18] zzhuang-cancon opened #111 "ERROR Message while runing cmd: 'npm run-script server'"
Hey, Since i am newbie to OpenBMC  and i follw the official guidence to start learning OpenBMC.
today I followed the steps in this guide--git address: https://github.com/openbmc/doc

![image](https://user-images.githubusercontent.com/56622764/80296532-b50feb00-87ae-11ea-92f3-00273b5f3ef6.png)
Everything works fine until I run this command:
   npm run-script server
Since it does not require which d

[2020-04-26 03:32] zzhuang-cancon commented on #111
OK, it seems i get how to reslove this issue, i go to see the guide document again  i find sth.
git address: https://github.com/openbmc/phosphor-webui/blob/master/README.md

[2020-06-03 10:45] adathatri opened #112 "The "operations" section in Server Power operations menu has moved to the bottom of the page"
The 'Operations' section has moved to the bottom of the page in 'Server power operations' page. This  used to be next to 'Host OS boot settings'.

![image](https://user-images.githubusercontent.com/47553162/83627753-10ef4000-a5b5-11ea-8e67-b9cffda379ad.png)

Build info:
VERSION="2.9.0-dev"
VERSION_ID=2.9.0-dev-120-g31e5d7989
OPENBMC_TARGET_MACHINE="witherspoon"

[2020-06-09 15:33] nest1ing commented on #112
I confirm.
The issue is reproduced on our Vegman hardware too with the latest WebUI version.

[2020-06-11 19:33] gtmills commented on #112
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/33476 should resolve

[2020-06-12 17:32] #112 closed

[2020-07-16 13:49] gtmills commented on #106
Thought we supported CTRL+ALT+DEL.
https://github.com/openbmc/phosphor-webui/blob/master/app/server-control/directives/kvm-console.js#L29

Maybe it isn't working.
Could you add some debug statements in there?

[2020-07-21 07:58] rahulmah opened #115 "Unauthorized message seen while setting date time with latest master"
Unauthorized message is seen while setting date time with the latest master.

**Step to recreate:**
1. Log Into BMC.
2. Navigate to Dat time menu.
3. Change the BMC time by reducing the date to an older date. (Here we will see that Unautorized message on the screen. But later we see a pop-up notification that the date is set. And if we cross-check then, we will find that the date gets set correctl

[2020-07-27 07:33] chineweff opened #116 "Virtual Media Failed"
I tried to upload images with virtual media and got errors from browser console.

![擷取](https://user-images.githubusercontent.com/22802902/88515446-4b59e400-d01e-11ea-8743-3bafeedf72a7.PNG)

Does anyone have ideas?

Thanks.

[2020-07-29 00:55] gtmills commented on #116
@anoo1 Have you seen this before?

[2020-07-29 00:57] gtmills commented on #115
phosphor-webui needs updates to support https://github.com/openbmc/phosphor-time-manager/commit/3c2f44962c163668272c473ddfb9c35bf8774570

[2020-07-29 00:58] gtmills commented on #111
@zzhuang-cancon Can we close?

[2020-07-29 13:23] anoo1 commented on #116
I haven't. Seems the GUI is the one setting the magic number during a negotiate event? https://github.com/openbmc/phosphor-webui/blob/2e1eec80de6c8e9a2bd7c813c9e9ff31038e0906/app/server-control/controllers/virtual-media-controller.js#L193

[2020-08-11 10:02] shiningstark opened #118 "How to install WebUI into my image"
I have complete the step to build my own image based on romulus. Now when i try to customize WebUI, i can't find an useful link to introduce how to plugin the webui into my image.

[2020-08-21 08:32] solonfan commented on #118
Hi,Bro!

Below link for your reference!
https://github.com/openbmc/docs/blob/master/development/web-ui.md

Thanks,
SolonFan

[2020-10-08 13:48] MaxPower2005 commented on #106
Hi
I noticed that webui-vue is offering a "Send Ctrl+Alt+Delete" link on the upper edge of the KVM screen.
Therefore problem solved.

[2020-10-08 13:48] #106 closed

[2020-10-27 05:19] JohnChung1993 opened #120 "System logs export incorrect data to json file"
Using export feature to download the json file in "System Logs" page.
The data in the download file as following information is incomplete.

Following  data is the dump log form the Redfish log service API.

It seems the download string with symbol "#"  cause this issue.
Is there any suggestions for this issue?

[2020-11-01 12:31] Kostr opened #125 "Serial over LAN (SoL) layout is broken"
Serial over LAN (SoL) element takes too little window space (opposed to KVM for example):
![2020-11-01_15-27-55](https://user-images.githubusercontent.com/2064127/97802795-fe0d9400-1c56-11eb-8c68-3860f10d0d2a.png)

If it is an intention, everything looks especially broken, when SoL is opened in a new window:
![2020-11-01_15-29-01](https://user-images.githubusercontent.com/2064127/97802803-01a11b00

[2020-11-04 17:31] gtmills commented on #118
@shiningstark Did this work?
Can this issue be closed?

[2020-11-05 16:44] gtmills commented on #125
This was on the mailing list here: https://lists.ozlabs.org/pipermail/openbmc/2020-November/023891.html

[2020-11-06 15:53] Kostr commented on #125
Some screenshots for the proposed commit (https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-webui/+/38036)

I didn't touched fixed height of the terminal in the main SoL tab. The terminal still takes 25em in height:
![2020-11-06_18-10-49](https://user-images.githubusercontent.com/2064127/98382174-ea4d9d80-205b-11eb-8e6d-21ba957cfcd0.png)

But I've added responsiveness, so the terminal content

[2020-11-30 18:47] hashtag-amar opened #127 "TPM policy, boot override and last power operation toast error."
![error_toast_webUI](https://user-images.githubusercontent.com/36621953/100641711-d85ed200-335d-11eb-8583-68fdc965b1b2.png)

These error toast messages pop up every first web Access after I flash a new image to the BMC. I have tried including in timeout and sleep in the https://github.com/openbmc/phosphor-webui/blob/d10511f2a7fc07910d7ca517bd73331763322fa0/app/server-control/controllers/power-oper

[2020-12-14 03:38] JohnChung1993 commented on #120
Replace the symbol '#' to symbol null to fix this issue.
It could get the output file without  abnormal data now.

[2020-12-14 03:38] #120 closed

[2021-11-04 16:04] fishermess opened #129 "How to connect 8080 and 2443"
After bitbake and runing image,I got chance to visit "http://localhost:8080".However,I can;t login in from 8080 to 2443,beacuse 8080 is http and 2443 is https.They are in different region!
Who can tell me what I can do?

[2022-01-20 14:00] manojdesd opened #130 "Unable to Establish successful LDAP connection"
Issue: Unable to establish a successful LDAP connection and LOGIN and use the LDAP user.

OpenBMC version - 2.9

Steps:
1. 	I gave the input to field Server URI: ldap://<LDAP Server IP> in LDAP configuration page in BMC.
2.	I got the BASE DN from this command $ dsquery* from the LDAP server.
3.	I got the BIND DN from this command $ dsquery user -name <User Name>. From the user which i had created

[2022-01-21 04:39] manojdesd commented on #103
HI @lpanayioto I don't know why this problem occurs in yours I wish I could help you with that but I am not able to configure LDAP itself.
Can you help me issue https://github.com/openbmc/phosphor-webui/issues/130 ?
As I am able to see that you are able to configure LDAP connection successfully.
Thanks in advance.

[2022-01-24 14:14] manojdesd commented on #130
Please help me in this. I have tried many times, couldn't configure it right.
OpenBMC community help me.

[2022-01-25 06:30] manojdesd commented on #130
@gtmills Please help me in this, or can you guide someone to help me with the LDAP configuration.
I have tried many things, nothing has worked for me. Please help.

[2022-01-25 16:49] gtmills commented on #130
Hi,
Do these same commands work via Redfish? You can go to the network tab on the browser developer tools to see the requests/responses. I doubt this is a problem with phosphor-webui and instead looks like a problem with your setup or a [user management](https://github.com/openbmc/phosphor-user-manager) bug.
Note: most community members have moved away from phoshor-webui and to https://github.com/

[2022-01-31 06:26] manojdesd commented on #130
Hi @gtmills

Thank you for your response. Since this is the older project, still using the phosphor-webui, so won't be able to use webui-vue.
I have tried a unsecure LDAP config, but it hasn't worked. Through redfish commands I will try and get back to you.

[2022-02-03 04:07] ratagupt commented on #130
@manojdesd : It is a working code and we have been using it since long...I don't have the setup right now, @gkeishin @prakatti1 Can you help in configuring the setup? I will be looking at my notes to share the setup details.
As per me this is a ldap setup/configuration problem

  You don't need to run the usermod cmd

[2022-02-03 04:36] manojdesd commented on #130
@ratagupt thank you for your insights. Yeah please do share the setup details.

[2022-02-14 08:22] Sean045 commented on #115
I have still seen that page whether setting date/time or adding NTP server list...
I have already updated the lasted master.

[2022-02-16 00:21] gsivaprabu opened #131 "NoAccess privilege user able to login via WEB Interface?"
In the Local user management specification, they mentioned as NoAccess privileged is not allowed for the web interface.

![image](https://user-images.githubusercontent.com/2444608/154172322-6c825752-2968-41d4-840f-b2fd614181b1.png)

But we create the NOAccess privileged user able to log in to the WebUI.

**/login** call succeded  next call for **/redfish/v1/AccountService/Accounts/noaccessuser**

[2022-02-17 09:23] manojdesd opened #132 "Modify the Server power operations page to see in first the Operations"
Issue: Modify the Server power operations page to see in first the Operations

OpenBMC version : 2.9

Description:
Using the "Server power" button in top of all the OpenBMC web page or using the "Control > Server power operations" left menu shows in first in this "Server power operations" page the "Host OS boot settings". That "Server power operations" web page must be modified to show in first af

[2022-02-17 09:26] manojdesd opened #133 "Set the RESOLVED and HIGH/MEDIUM/LOW text in grey color when Resolved"
Issue :
Set the RESOLVED and HIGH/MEDIUM/LOW text in grey color when Resolved

OpenBMC version: 2.9

Description:
In the Health > Event log OpenBMC web page, the Events have a colored text after the Event number :
- RED for High severity events / ERROR,
- ORANGE for Medium severity events / WARNING,
- GREEN for the Low severity events / NOTICE and INFORMATIONAL.
Once events are Mark as Resolved, t

[2022-03-21 06:41] OguzhanCaglar opened #134 "How can i boot the ast2500 from sd card?"
Hi,

I have a customization board that have ast2500 bmc. How can i boot the ast2500 from sd card? How can i generate an image that is compatible with sd card?

Thank you